body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

p img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 8px;
}

/* Color background when hover. Nice but may be harder for visually impaired. */
/* nav ul li a {
    display: inline-block;
    text-align: center;
} 

nav ul li a:hover:not(.active) {
    background-color: rgb(172, 173, 170);
} */

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 5px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

#logo {
    max-width: 75px;
    height: auto;
    padding-right: 2em;
}
