---
layout: page-fullwidth
title: User
meta_title: "User Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: Admin
helpCategory: "Site Management"
helpDescription: "Describes managing users on an OED site."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include adminInfo.html %}

		<h2 id="overview">Overview</h2>
		<p>OED supports the creation of user roles that allow for:</p>
		<ul>
			<li>ADMIN. Can perform any admin feature. This role includes all the privileges of any other user so it
				can
				do those functions as well.</li>
			<li>CSV. Can import data into OED via CSV files (see <a href="../adminCsvImport/">CSV import documentation</a>)
			</li>
			<li>EXPORT. Can export data as a CSV from OED even when the file size is larger. (see <a
					href="../export/">export documentation</a>)</li>
			<li>OBVIUS. Can upload Obvius data into OED. (see <a href="../adminDataAcquisition/">data
					acquisition</a>)</li>
		</ul>
		<p>
			Once a user with the necessary role is created by an admin, that login can be used to complete the allowed
			action
			for the given user role.
		</p>

		<h2 id="usage">Usage</h2>
		<p>The admin users page, shown in the following figure, can be accessed from the <a
				href="../adminPreferences/">admin panel</a> page by clicking the "Users" near the top of the page.
		</p>
		<img alt="admin user page" src="../images/adminUser.png">
		<p>This example figure shows four users of oedcsv@mysite.org, oedexport@mysite.org, oedobvius@mysite.org and
			oedadmin@mysite.org with the roles of CSV, EXPORT, OBVIUS and ADMIN, respectively. A user can be removed
			from
			OED by clicking the "Delete User" button that is in red. Note this action cannot be undone and happens right
			away. The only exception is that you cannot delete an admin user if they are the only one in the OED system
			nor
			if that admin is currently logged into do the delete. You
			must always have at least one admin user on a site. For all roles, it is fine to have multiple users for
			that
			role (not shown in figure).</p>
		<p>A new user can be created by clicking the blue "Create a User" button where a new page will open. You type in
			the
			"Email", "Password" and "Confirm password" in the boxes below those titles. The role is set by selecting
			from
			the dropdown menu under the "Role" title. The default role is ADMIN unless another is selected. Once all
			information is entered then click the "Submit new user" button at the bottom of the page. If successful then
			a
			notice will temporarily show in the top, right of the page and you will be returned to the main user page.
			If
			there is an issue then a message will tell you the problem. If you wish to cancel entering a new user then
			either hit the web browser back button to return to the user page or select a different
			OED page. The next figure shows the page after the information was entered to add the CSV role user
			described
			above.</p>
		<img alt="admin user page" src="../images/adminCreateUser.png">
		<p>You can change the role of the user by using the dropdown menu in the "Roles" column to select a new role for
			the
			user in the row of the table. You must click the green "Save role changes" button at bottom, right of the
			page
			for any changes to take effect. This button will go from grayed out green to regular green when a change
			needs
			to be saved.</p>

		<h2 id="details">Details</h2>
		<p>See the <a href="../adminInstallation/">installation information</a> for instructions on creating the initial
			user for a new OED site.</p>

	</div>
</div>
