---
layout: page-fullwidth
title: Meters
meta_title: "Meters Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Graphing"
helpDescription: "Describes the ideas of meters and how to get them graphed."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>Meters are the lowest level of data in OED. Readings (energy/resource measurements) are associated with a
			particular meter. Generally a meter gets its data from a hardware device that measures usage but it can come
			from any source. For example, a meter might read electrical usage for a building or another area in an
			organization. OED allows users to graph the readings associated with a meter.</p>

		<h2 id="usage">Usage</h2>
		<p>Each graphic page has a dropdown menu for the available meters as highlighted in the blue rectangle and shown
			in
			this figure:</p>
		<img alt="meter dropdown" src="../images/meterDropdown.png">
		<p>Note if the list of meters is long, you may need to scroll down to get to the one you want. You can do an
			incremental
			search for any meter by typing in the input area at the top of the dropdown menu to limit the meters shown
			to the ones that match what you type. The search will occur anywhere in the meter name (not just the start)
			and
			is not case
			sensitive. This can still be done when meters are already selected and shown at the top of the meter
			dropdown.
			This is
			shown in the next figure where "Great Dorm 1st Floor Electric" was already selected and "eater" was typed
			(see
			blue
			rectangle) in the dropdown to find the two compatible and one incompatible theater meters. Note the normal
			separator between compatible and
			incompatible meters will not be shown during a search but the incompatible meters are still grayed out.</p>
		<img alt="meter dropdown search" src="../images/meterDropdownSearch.png">
		<p>You can select any meter by clicking on it so it shows up on the graphic on this page and appear in the list
			at
			the
			top of the meter dropdown. The choice of meters will
			remain as you change the graphic you are displaying. Note the meter menu will be separated into two sections
			by
			the divider "----- Incompatible Meters -----" when the already selected "Unit" is not compatible with
			these groups. The incompatible meters are shown at the bottom of the menu and are grayed out so they
			cannot be selected. In the
			figure of above, the unit selected (cannot easily be seen) is "kWh" so the meter "Theater Temperature"
			is grayed out in
			the bottom part of the menu because temperature is not measuring energy. </p>
		<p>If no meter or group is selected then the "Units" may be blank. In this case, when you select a meter, the
			graphing unit related to the meter unit will become the "Units" for the graphic.</p>
		<p>If you want to remove a meter from being graphed, you click the "x" to the left of its name in the list at
			the
			top of the dropdown menu.</p>

		<h2 id="details">Details</h2>
		<p>You can view some details on meters on the <a href="../meterViewing/">Meter Viewing page</a>.</p>
		<p>If a meter cannot be shown then it will be grayed out. See the <a href="../mapGraphic/">maps documentation page</a>
			for
			more
			information.</p>
	</div>
</div>
