---
layout: page-fullwidth
title: eGauge
meta_title: "eGauge doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: Admin
helpCategory: "Data Acquisition"
helpDescription: "Describes acquiring data from eGauge devices."
---
<!-- Add version info at top of page. Would be nice if could put in layout but then relative link does not work. -->
{% include_relative _version %}
Version {{OEDVersion}}

<div>
	<div class="row">
		{% include help-sidebar OEDVersion=OEDVersion %}

		<div class="medium-8 medium-pull-4 columns" markdown="1">
			{% include adminInfo.html %}
			<h3 id="overview">Overview</h3>
			<p>This page describes how to add eGauge meters to OED so they will be read regularly.</p>

			<h3 id="usage">Usage</h3>
			<p>One needs the following information about the eGauge meter:</p>
			<ul>
				<li>IP address of the desired eGauge meter that is the location address where the meter can be
					reached. One should be able to go to this address in a web browser and see the landing page for the
					meter.
					For this example the IP address of 111.22.33.1 will be used. One may well have a named address,
					e.g., egauge99.mydomain.org, instead of an IP address for the meter and that is fine to use.</li>
				<li>One needs the Username and Password that allows Access Control to the data for this meter. If
					you are already logged in to the meter you can find all the logins on the Settings tab under Access
					Control on
					the eGauge web page. For this example the Username is myuser and the
					password is mypassword.</li>
				<li>One needs the register that is going to be accessed on the eGauge meter to provide data. This is
					located under the Settings tab, Preferences to get to the Preferences Editor page. They should be
					located next to the label "List of registers to display in graph by default". For this example the
					register will be
					called myregister.</li>
			</ul>
			<p>Either by <a href="adminMeterCreating.html">admin meters creation web page</a> or via a <a
					href="adminMetersImport.html">CSV meter upload</a>, add a new meter that has the following
				attributes:</p>
			<ol>
				<li>Set the meter URL. For this example would be:<br>
					111.22.33.1/api?registerName=myregister&username=myuser&password=mypassword<br>
					where one would replace the four values discussed above with the ones specific for the eGauge meter
					of interest.</li>
				<li>Set the meter Type to "EGAUGE" (without quotes).</li>
				<li>Set update to yes if you want OED to regularly get this meter data.</li>
				<li>Set Displayable, Unit and Default Graphic Unit to the needed/desired values.</li>
				<li>The Reading Frequency can default to 00:15:00 for 15 minutes as that is the frequency that OED
					acquires data
					from eGauge meters. If you are interested in a different frequency then please contact us.</li>
				<li>The other meter values are standard ones that you want for this meter and can be left as the default
					values
					if desired.
				</li>
			</ol>
			<p>Set up the hourly cron job to update eGauge meters' data on OED if update is yes and you want eGauge
				meters to
				update. This only needs to be done once on the server,
				generally by an IT person. This mirrors similar steps in the <a href="adminInstallation.html">site
					installation
					directions</a>.</p>
			<ol>
				<li><code>cp src/scripts/updateEgaugeMetersOEDCron.bash /etc/cron.hourly/updateEgaugeMetersOEDCron.bash</code>
				</li>
				<li>Edit /etc/cron.hourly/updateGaugeMetersOEDCron.bash to make the necessary modifications to
					the
					script. See the script for more detail.</li>
				<li>Do: <code>chmod +x /etc/cron.hourly/updateEgaugeMetersOEDCron.bash</code> to make the script
					executable.</li>
				<li>If you want to immediately run the update on meters without waiting for the hourly script
					one does: <code>docker compose exec web npm run updateEgaugeMeters</code></li>
				<li>Note that you will not be able to graph the newly acquired meter data until the daily
					aggregation (described on the installation page linked above) is run or you manually refresh the
					readings by doing:
					<code>docker compose exec web npm run refreshAllReadingViews</code>
				</li>
			</ol>

			<h3 id="details">Details</h3>
			<p>None at this time.</p>
		</div>
