---
layout: page-fullwidth
title: Production Install Output
meta_title: "Production Install Output Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: Admin
helpCategory: "Site Installation"
helpDescription: "Shows output of an OED production installation."
---
<div class="row">
    {% include_relative _version %}
    {% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
    <div class="medium-8 medium-pull-4 columns" markdown="1">
        {% include adminInfo.html %}

        <p>When you install OED for production you will get output similar to what is below (assuming this is the first
            time
            you are running <code>docker compose up</code>). Please note:</p>
        <ul>
            <li>This output was created on 17 Jan 2022 using OED v0.8.0. The exact output will vary with
                machine type and changes to OED.</li>
            <li>There are often colors in the output but that is not shown.</li>
            <li>Items with // at the start were added after the fact to give information at the point it will occur in
                the oupt.</li>
            <li>The warning:<br>
                WARNING: could not open statistics file "pg_stat_tmp/global.stat": Operation not permitted<br>
                may or may not show up. It also shows up at other times. The complete answer is not known but it appears
                to
                be a transient error in PostgreSQL writing log information. It has never caused any problems. On rarer
                occasions it involves another PostgreSQL file.</li>
        </ul>

        <pre>
        $ docker compose up
        [+] Running 2/2
         ⠿ Container oed-database-1  Created                                                                                        0.0s
         ⠿ Container oed-web-1       Recreated                                                                                      0.2s
        Attaching to oed-database-1, oed-web-1
        oed-database-1  | The files belonging to this database system will be owned by user "postgres".
        oed-database-1  | This user must also own the server process.
        oed-database-1  | 
        oed-database-1  | The database cluster will be initialized with locale "en_US.utf8".
        oed-database-1  | The default database encoding has accordingly been set to "UTF8".
        oed-database-1  | The default text search configuration will be set to "english".
        oed-database-1  | 
        oed-database-1  | Data page checksums are disabled.
        oed-database-1  | 
        oed-database-1  | fixing permissions on existing directory /var/lib/postgresql/data/pgdata ... ok
        oed-database-1  | creating subdirectories ... ok
        oed-database-1  | selecting default max_connections ... 100
        oed-database-1  | selecting default shared_buffers ... 128MB
        oed-database-1  | selecting default timezone ... Etc/UTC
        oed-database-1  | selecting dynamic shared memory implementation ... posix
        oed-database-1  | creating configuration files ... ok
        oed-web-1       | NPM install...
        oed-web-1       | npm WARN prepare removing existing node_modules/ before installation
        oed-database-1  | running bootstrap script ... ok
        oed-database-1  | performing post-bootstrap initialization ... ok
        oed-database-1  | syncing data to disk ... 
        oed-database-1  | WARNING: enabling "trust" authentication for local connections
        oed-database-1  | You can change this by editing pg_hba.conf or using the option -A, or
        oed-database-1  | --auth-local and --auth-host, the next time you run initdb.
        oed-database-1  | ok
        oed-database-1  | 
        oed-database-1  | Success. You can now start the database server using:
        oed-database-1  | 
        oed-database-1  |     pg_ctl -D /var/lib/postgresql/data/pgdata -l logfile start
        oed-database-1  | 
        oed-database-1  | waiting for server to start....2022-01-17 21:33:08.877 UTC [48] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
        oed-database-1  | 2022-01-17 21:33:09.090 UTC [49] LOG:  database system was shut down at 2022-01-17 21:32:56 UTC
        oed-database-1  | 2022-01-17 21:33:09.211 UTC [48] LOG:  database system is ready to accept connections
        oed-database-1  |  done
        oed-database-1  | server started
        oed-database-1  | 
        oed-database-1  | /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/init.sql
        oed-database-1  | CREATE ROLE
        oed-database-1  | psql:/docker-entrypoint-initdb.d/init.sql:6: NOTICE:  database "oed" does not exist, skipping
        oed-database-1  | DROP DATABASE
        oed-database-1  | psql:/docker-entrypoint-initdb.d/init.sql:8: NOTICE:  database "oed_testing" does not exist, skipping
        oed-database-1  | CREATE DATABASE
        oed-database-1  | DROP DATABASE
        oed-database-1  | CREATE DATABASE
        oed-database-1  | ALTER ROLE
        oed-database-1  | 
        oed-database-1  | 
        oed-database-1  | /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/nuke.sql
        oed-database-1  | DROP DATABASE
        oed-database-1  | DROP DATABASE
        oed-database-1  | CREATE DATABASE
        oed-database-1  | CREATE DATABASE
        oed-database-1  | 
        oed-database-1  | 
        oed-database-1  | 2022-01-17 21:34:01.713 UTC [48] LOG:  received fast shutdown request
        oed-database-1  | waiting for server to shut down....2022-01-17 21:34:01.742 UTC [48] LOG:  aborting any active transactions
        oed-database-1  | 2022-01-17 21:34:01.751 UTC [48] LOG:  worker process: logical replication launcher (PID 55) exited with exit code 1
        oed-database-1  | 2022-01-17 21:34:01.755 UTC [50] LOG:  shutting down
        oed-database-1  | 2022-01-17 21:34:01.900 UTC [48] LOG:  database system is shut down
        oed-database-1  |  done
        oed-database-1  | server stopped
        oed-database-1  | 
        oed-database-1  | PostgreSQL init process complete; ready for start up.
        oed-database-1  | 
        oed-database-1  | 2022-01-17 21:34:02.018 UTC [1] LOG:  listening on IPv4 address "0.0.0.0", port 5432
        oed-database-1  | 2022-01-17 21:34:02.018 UTC [1] LOG:  listening on IPv6 address "::", port 5432
        oed-database-1  | 2022-01-17 21:34:02.032 UTC [1] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
        oed-database-1  | 2022-01-17 21:34:02.252 UTC [75] LOG:  database system was shut down at 2022-01-17 21:34:01 UTC
        oed-database-1  | 2022-01-17 21:34:02.414 UTC [1] LOG:  database system is ready to accept connections
        oed-web-1       | npm WARN tarball tarball data for typescript@3.5.3 (sha512-ACzBtm/PhXBDId6a6sDJfroT2pOWt/oOnk4/dElG5G33ZL776N3Y6/6bKZJBFpd+b05F3Ct9qDjMeJmRWtE2/g==) seems to be corrupted. Trying one more time.
        oed-web-1       | npm WARN tarball tarball data for plotly.js@2.6.3 (sha512-MSdevryj5VvSZvr+slTnJcZgOmvMPZEUe8rFY+3ygxbVUFqmcOvT0TurUx4g07tfAVZ+UhXIaskHnAZNmUcNTg==) seems to be corrupted. Trying one more time.
        oed-web-1       | 
        oed-web-1       | > core-js@2.6.11 postinstall /usr/src/app/node_modules/core-js
        oed-web-1       | > node -e "try{require('./postinstall')}catch(e){}"
        oed-web-1       | 
        oed-web-1       | Thank you for using core-js ( https://github.com/zloirock/core-js ) for polyfilling JavaScript standard library!
        oed-web-1       | 
        oed-web-1       | The project needs your help! Please consider supporting of core-js on Open Collective or Patreon: 
        oed-web-1       | > https://opencollective.com/core-js 
        oed-web-1       | > https://www.patreon.com/zloirock 
        oed-web-1       | 
        oed-web-1       | Also, the author of core-js ( https://github.com/zloirock ) is looking for a good job -)
        oed-web-1       | 
        oed-web-1       | 
        oed-web-1       | > nodemon@2.0.15 postinstall /usr/src/app/node_modules/nodemon
        oed-web-1       | > node bin/postinstall || exit 0
        oed-web-1       | 
        oed-web-1       | Love nodemon? You can now support the project via the open collective:
        oed-web-1       |  > https://opencollective.com/nodemon/donate
        oed-web-1       | 
        oed-web-1       | added 1510 packages in 1110.487s
        oed-web-1       | NPM install finished.
        oed-web-1       | Attempting to create database...
        oed-web-1       | 
        oed-web-1       | -----start of npm run createdb output-----
        oed-web-1       | 
        oed-web-1       | > Open-Energy-Dashboard@0.8.0 createdb /usr/src/app
        oed-web-1       | > node ./src/server/services/createDB.js
        oed-web-1       | 
        oed-web-1       | -----end of npm run createdb output-----
        oed-web-1       | 
        oed-web-1       |   database creation had no errors so assume schema creation worked.
        oed-web-1       | 
        oed-web-1       | > Open-Energy-Dashboard@0.8.0 createUser /usr/src/app
        oed-web-1       | > node ./src/server/services/user/createUser.js "test@example.com" "password"
        oed-web-1       | 
        oed-web-1       | [INFO@2022-01-17T21:50:00.270Z] User created or already exists
        oed-web-1       | 
        oed-web-1       | User creation had no errors so default user 'test@example.com' with password 'password' should exist
        oed-web-1       | OED install finished
        oed-web-1       | Starting OED in development mode
        oed-web-1       | 
        oed-web-1       | > Open-Energy-Dashboard@0.8.0 webpack:dev /usr/src/app
        oed-web-1       | > webpack watch --color --progress --mode development
        oed-web-1       | 
        oed-web-1       | 
        oed-web-1       | > Open-Energy-Dashboard@0.8.0 start:dev /usr/src/app
        oed-web-1       | > nodemon --legacy-watch --inspect=0.0.0.0 ./src/bin/www
        oed-web-1       | 
        oed-web-1       | [nodemon] 2.0.15
        oed-web-1       | [nodemon] to restart at any time, enter `rs`
        oed-web-1       | [nodemon] watching path(s): src/server/**/* src/bin/**/* src/common/**/*
        oed-web-1       | [nodemon] watching extensions: js,mjs,json
        oed-web-1       | [nodemon] starting `node --inspect=0.0.0.0 ./src/bin/www`
        oed-web-1       | Debugger listening on ws://0.0.0.0:9229/ab731782-84e0-46d9-83ba-bca016dba447
        oed-web-1       | For help, see: https://nodejs.org/en/docs/inspector
        oed-web-1       | [INFO@2022-01-17T21:50:18.164Z] Listening on port 3000
        oed-web-1       | 
        oed-web-1       | &lt;s&gt; [webpack.Progress] 0% 
        oed-web-1       | 
        oed-web-1       | &lt;s&gt; [webpack.Progress] 1% setup initialize
        oed-web-1       | &lt;s&gt; [webpack.Progress] 1% setup initialize
        oed-web-1       | &lt;s&gt; [webpack.Progress] 3% setup watch run
        oed-web-1       | &lt;s&gt; [webpack.Progress] 3% setup watch run webpack-cli
        oed-web-1       | &lt;s&gt; [webpack.Progress] 3% setup watch run at-loader
        oed-web-1       | &lt;s&gt; [webpack.Progress] 3% setup watch run
        oed-web-1       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory
        oed-web-1       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory LodashModuleReplacementPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory
        oed-web-1       | &lt;s&gt; [webpack.Progress] 5% setup context module factory
        oed-web-1       | &lt;s&gt; [webpack.Progress] 5% setup context module factory
        oed-web-1       | &lt;s&gt; [webpack.Progress] 6% setup before compile
        oed-web-1       | &lt;s&gt; [webpack.Progress] 6% setup before compile ProgressPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 6% setup before compile
        oed-web-1       | &lt;s&gt; [webpack.Progress] 7% setup compile
        oed-web-1       | &lt;s&gt; [webpack.Progress] 7% setup compile ExternalsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 7% setup compile
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation ArrayPushCallbackChunkFormatPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation JsonpChunkLoadingPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation StartupChunkDependenciesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation ImportScriptsChunkLoadingPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation FetchCompileWasmPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation FetchCompileAsyncWasmPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation WorkerPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation SplitChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation ResolverCachePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 8% setup compilation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ProgressPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ProvidePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ChunkPrefetchPreloadPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ModuleInfoHeaderPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation JavascriptModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation JsonModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation AssetModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation EntryPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RuntimePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation InferAsyncModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation DataUriPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation FileUriPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation CompatibilityPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation HarmonyModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation AMDPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireJsStuffPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation CommonJsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation LoaderPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation LoaderPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation NodeStuffPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation APIPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ExportsInfoApiPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation WebpackIsIncludedPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ConstPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation UseStrictPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireIncludePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireEnsurePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireContextPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ImportPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation SystemPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation ImportMetaPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation URLPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsFactoryPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsPresetPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsPrinterPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation JavascriptMetaInfoPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation EnsureChunkConditionsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RemoveEmptyChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation MergeDuplicateChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation SideEffectsFlagPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation FlagDependencyExportsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation NamedModuleIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation NamedChunkIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefinePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation TemplatedPathPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation RecordIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation WarnCaseSensitiveModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation AddBuildDependenciesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation AddBuildDependenciesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 9% setup compilation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 0/0 dependencies 0/0 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/awesome-typescript-loader/dist/entry.js
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 1/1 dependencies 0/1 modules
        oed-web-1       | ℹ ｢atl｣: Using typescript@3.5.3 from typescript
        oed-web-1       | ℹ ｢atl｣: Using tsconfig.json from /usr/src/app/tsconfig.json (in a forked process)
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 1/2 dependencies 0/1 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/style-loader/dist/cjs.js
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/css-loader/dist/cjs.js
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 5/18 dependencies 0/5 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 13/48 dependencies 0/12 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/source-map-loader/dist/cjs.js
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 55/73 dependencies 10/44 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 97/100 dependencies 25/74 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 99/108 dependencies 26/74 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 100/200 dependencies 28/74 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 300/428 dependencies 28/188 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 400/452 dependencies 28/218 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 11% building 0/1 entries 563/595 dependencies 100/241 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 11% building 0/1 entries 685/700 dependencies 157/244 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 11% building 0/1 entries 700/723 dependencies 165/251 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 773/800 dependencies 197/287 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 883/900 dependencies 236/328 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 942/942 dependencies 300/351 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 945/1000 dependencies 301/351 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1094/1100 dependencies 330/392 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1094/1200 dependencies 330/392 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1200/1235 dependencies 349/460 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1243/1400 dependencies 350/493 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1396/1640 dependencies 350/500 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 13% building 0/1 entries 1648/1700 dependencies 350/511 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 14% building 0/1 entries 1878/1900 dependencies 396/527 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 15% building 0/1 entries 1972/2000 dependencies 464/552 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 15% building 0/1 entries 2081/2100 dependencies 487/584 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 15% building 0/1 entries 2113/2119 dependencies 500/589 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2190/2200 dependencies 558/608 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2268/2300 dependencies 574/630 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2300/2340 dependencies 578/631 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2392/2400 dependencies 587/654 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2480/2496 dependencies 609/700 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2500/2557 dependencies 609/716 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2523/2600 dependencies 620/722 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2600/2632 dependencies 625/779 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2617/3100 dependencies 627/783 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2700/3148 dependencies 627/846 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2777/3148 dependencies 627/900 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2900/3148 dependencies 627/975 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2940/3163 dependencies 627/1000 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 3000/3186 dependencies 629/1034 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3154/3200 dependencies 649/1123 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3189/3500 dependencies 649/1137 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3300/3631 dependencies 650/1197 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3500/3631 dependencies 658/1250 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3709/3800 dependencies 670/1319 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 4132/4200 dependencies 693/1340 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 4484/4600 dependencies 703/1377 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 4895/5000 dependencies 718/1413 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 18% building 0/1 entries 5099/5200 dependencies 737/1429 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 18% building 0/1 entries 5303/5400 dependencies 753/1448 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 18% building 0/1 entries 5600/5627 dependencies 778/1479 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 18% building 0/1 entries 5709/5749 dependencies 800/1492 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 19% building 0/1 entries 5866/5900 dependencies 856/1509 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 20% building 0/1 entries 5942/6000 dependencies 931/1517 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 20% building 0/1 entries 6000/6173 dependencies 947/1534 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6255/6300 dependencies 1025/1575 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6286/6400 dependencies 1037/1579 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6339/6600 dependencies 1045/1580 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6400/6643 dependencies 1062/1583 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6499/6658 dependencies 1077/1600 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 21% building 0/1 entries 6600/6658 dependencies 1086/1641 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 22% building 0/1 entries 6666/6800 dependencies 1096/1654 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 23% building 0/1 entries 6793/6900 dependencies 1236/1692 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 24% building 0/1 entries 6914/7000 dependencies 1295/1710 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 24% building 0/1 entries 7062/7100 dependencies 1343/1733 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 24% building 0/1 entries 7078/7300 dependencies 1358/1735 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 25% building 0/1 entries 7160/7373 dependencies 1382/1800 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 25% building 0/1 entries 7200/7375 dependencies 1382/1838 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 26% building 0/1 entries 7395/7462 dependencies 1500/1922 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 26% building 0/1 entries 7557/7600 dependencies 1530/1964 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 27% building 0/1 entries 7700/7744 dependencies 1549/1988 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 27% building 0/1 entries 7772/7800 dependencies 1575/1993 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 28% building 0/1 entries 7881/7941 dependencies 1718/2000 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 30% building 0/1 entries 8000/8089 dependencies 1826/2055 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 30% building 0/1 entries 8057/8100 dependencies 1854/2096 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 31% building 0/1 entries 8169/8200 dependencies 1944/2140 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 32% building 0/1 entries 8258/8300 dependencies 2020/2167 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 32% building 0/1 entries 8343/8393 dependencies 2061/2200 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 32% building 0/1 entries 8400/8445 dependencies 2078/2231 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 33% building 0/1 entries 8544/8600 dependencies 2103/2263 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 34% building 0/1 entries 8764/8800 dependencies 2210/2317 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 35% building 0/1 entries 8869/8871 dependencies 2300/2344 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 64% building 1/1 entries 8872/8872 dependencies 2345/2345 modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 65% building
        oed-web-1       | &lt;s&gt; [webpack.Progress] 69% building finish
        oed-web-1       | &lt;s&gt; [webpack.Progress] 69% building finish
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph ResolverCachePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph InferAsyncModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph FlagDependencyExportsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing plugins
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing plugins WarnCaseSensitiveModulesPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 70% sealing plugins
        oed-web-1       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization SideEffectsFlagPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 71% sealing after dependencies optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 71% sealing after dependencies optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 72% sealing chunk graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 72% sealing chunk graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 73% sealing after chunk graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 73% sealing after chunk graph
        oed-web-1       | &lt;s&gt; [webpack.Progress] 73% sealing optimizing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 73% sealing optimizing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 74% sealing module optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 74% sealing module optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing after module optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing after module optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization EnsureChunkConditionsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization RemoveEmptyChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization MergeDuplicateChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization SplitChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization RemoveEmptyChunksPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 76% sealing after chunk optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 76% sealing after chunk optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 77% sealing module and chunk tree optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 77% sealing module and chunk tree optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 77% sealing after module and chunk tree optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 77% sealing after module and chunk tree optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 78% sealing chunk modules optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 78% sealing chunk modules optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 78% sealing after chunk modules optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 78% sealing after chunk modules optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving
        oed-web-1       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving RecordIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving
        oed-web-1       | &lt;s&gt; [webpack.Progress] 80% sealing before module ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 80% sealing before module ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 80% sealing module ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 80% sealing module ids NamedModuleIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 80% sealing module ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 81% sealing module id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 81% sealing module id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 82% sealing module id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 82% sealing module id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving
        oed-web-1       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving RecordIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving
        oed-web-1       | &lt;s&gt; [webpack.Progress] 83% sealing before chunk ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 83% sealing before chunk ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids NamedChunkIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids
        oed-web-1       | &lt;s&gt; [webpack.Progress] 84% sealing chunk id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 84% sealing chunk id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 85% sealing after chunk id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 85% sealing after chunk id optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record modules RecordIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record modules
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks RecordIdsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks
        oed-web-1       | &lt;s&gt; [webpack.Progress] 87% sealing module hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 87% sealing module hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 87% sealing code generation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 87% sealing code generation
        oed-web-1       | &lt;s&gt; [webpack.Progress] 88% sealing runtime requirements
        oed-web-1       | &lt;s&gt; [webpack.Progress] 88% sealing runtime requirements
        oed-web-1       | &lt;s&gt; [webpack.Progress] 89% sealing hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 89% sealing hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 89% sealing after hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 89% sealing after hashing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 90% sealing record hash
        oed-web-1       | &lt;s&gt; [webpack.Progress] 90% sealing record hash
        oed-web-1       | &lt;s&gt; [webpack.Progress] 91% sealing module assets processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 91% sealing module assets processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 91% sealing chunk assets processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 91% sealing chunk assets processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js generate SourceMap
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js generated SourceMap
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin resolve sources
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js attach SourceMap
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js attached SourceMap
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin resolve sources
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing
        oed-web-1       | &lt;s&gt; [webpack.Progress] 93% sealing after asset optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 93% sealing after asset optimization
        oed-web-1       | &lt;s&gt; [webpack.Progress] 93% sealing recording
        oed-web-1       | &lt;s&gt; [webpack.Progress] 93% sealing recording
        oed-web-1       | &lt;s&gt; [webpack.Progress] 94% sealing after seal
        oed-web-1       | &lt;s&gt; [webpack.Progress] 94% sealing after seal
        oed-web-1       | ℹ ｢atl｣: Checking started in a separate process...
        oed-web-1       | &lt;s&gt; [webpack.Progress] 95% emitting emit
        oed-web-1       | &lt;s&gt; [webpack.Progress] 95% emitting emit
        oed-web-1       | &lt;s&gt; [webpack.Progress] 98% emitting after emit
        oed-web-1       | &lt;s&gt; [webpack.Progress] 98% emitting after emit SizeLimitsPlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 98% emitting after emit
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% done plugins
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% done plugins IdleFileCachePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% done plugins
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% 
        oed-web-1       | 
        oed-web-1       | asset bundle.js 15.5 MiB [emitted] [big] (name: application) 1 related asset
        oed-web-1       | orphan modules 67.5 KiB [orphan] 61 modules
        oed-web-1       | runtime modules 2.01 KiB 8 modules
        oed-web-1       | modules by path ./node_modules/ 13 MiB
        oed-web-1       |   javascript modules 12.8 MiB 1980 modules
        oed-web-1       |   json modules 184 KiB 7 modules
        oed-web-1       | modules by path ./src/ 778 KiB 158 modules
        oed-web-1       | asset modules 2.35 KiB
        oed-web-1       |   modules by path data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/ 1.77 KiB 8 modules
        oed-web-1       |   modules by path data:image/svg+xml,%3csvg viewBox=%270 0 30 30%27 xmlns=%27http://www.w3.org/2000/ 595 bytes 2 modules
        oed-web-1       | modules by path ./lib/*./lib/locales (ignored) 30 bytes
        oed-web-1       |   ./lib/locales (ignored) 15 bytes [built] [code generated]
        oed-web-1       |   ./lib/locales (ignored) 15 bytes [built] [code generated]
        oed-web-1       | ../locale-data/index.js (ignored) 15 bytes [built] [code generated]
        oed-web-1       | util (ignored) 15 bytes [built] [code generated]
        oed-web-1       | util (ignored) 15 bytes [built] [code generated]
        oed-web-1       | webpack 5.62.0 compiled successfully in 124007 ms
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies IdleFileCachePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache begin idle
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache begin idle IdleFileCachePlugin
        oed-web-1       | &lt;s&gt; [webpack.Progress] 99% cache begin idle
        oed-web-1       | &lt;s&gt; [webpack.Progress] 100% 
        oed-web-1       | 
        oed-web-1       | ℹ ｢atl｣: Time: 24033ms        
</pre>
    </div>
</div>
