---
layout: page-fullwidth
title: Home
meta_title: "Home Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Navigation"
helpDescription: "Describes how to return to the main (graphic) OED page."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>The page where you can view OED graphics is considered the home page. There are several ways to get there.
		</p>

		<h2 id="usage">Usage</h2>
		<p>If you are not on this page then there will
			be a "Home" button in the top, right of the web browser window that you can click to return to this page.
			You
			can also click the OED logo in the top, left of the web browser window to get to the home page at any time.
			Clicking the logo when you are already on the home page has no effect. The two ways of doing this are shown
			in
			the following figure by items highlighted in a blue box.</p>
		<img alt="options to get the OED home page" src="../images/OEDHome.png" style="width: 50vh; min-width: 300px;">

		<h2 id="details">Details</h2>
		<p>The home page allows for several actions including:</p>
		<ul>
			<li>Selecting <a href="graphType.html">graphic type</a></li>
			<li>Selecting <a href="graphingGroups.html">groups</a></li>
			<li>Selecting <a href="graphingMeters.html">meters</a></li>
			<li><a href="export.html">exporting reading data</a></li>
			<li>Getting a <a href="chartLink.html">chart link</a></li>
			<li>Selecting the <a href="language.html">language used</a></li>
			<li><a href="hideOptions.html">docking the options/menus</a></li>
			<li>Selecting <a href="pageChoices.html">OED pages</a></li>
		</ul>
	</div>
</div>
