---
layout: page-fullwidth
title: Language Selection
meta_title: "Language Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Other Features"
helpDescription: "Describes how to change the language displayed by OED"
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>Each OED site has a default language that is used to display information. The user can select from other
			available languages to have OED display information in an alternative language.</p>

		<h2 id="usage">Usage</h2>
		<p>The "Select a language type" dropdown menu on the <a href="home.html">home screen</a> is shown in the next
			figure (highlighted in a blue box).</p>
		<img alt="choosing language" src="../images/OEDLanguageChoices.png" style="width: 75vw; min-width: 700px;">
		<p>At the current time the user can select English, French and Spanish.</p>

		<h2 id="details">Details</h2>
		<p>OED is interested in including more languages within the OED system. If you are interested in helping
			translate OED to another language then please <a href="../../contact.html">contact us</a>.</p>
	</div>
</div>
