---
layout: page-fullwidth
title: Tooltip
meta_title: "Tooltip Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Other Features"
helpDescription: "Describes the help within OED web pages."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>OED provides popup help (tooltips) within the web browser to help users.</p>

		<h2 id="usage">Usage</h2>
		<p>Anywhere you see the "?" icon, you can click to get a popup to see help on what is near the icon. This is
			shown
			in the next figure where the "?" icon is highlighted with a blue box. The "?" icon has been clicked and the
			help
			tooltip popup is shown.</p>
		<img alt="OED tooltip usage" src="../images/OEDTooltip.png" style="width: 75vw; min-width: 700px;">
		<p>Normally only one popup is allowed but a few can be shown simultaneously. In general, there is a link to the
			appropriate help website page to give the
			user further information on this part of OED.</p>

		<h2 id="details">Details</h2>
		<p>There are help files for each version of OED. The version is shown in the footer at the bottom of each web
			page. When you click on a help link it will take you to the help for the version of OED that you are
			running. You can look at the help for other versions by using the "Help versions" dropdown menu at the top
			of all help pages.</p>
	</div>
</div>
