---
layout: page-fullwidth
title: Pages
meta_title: "Pages Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Navigation"
helpDescription: "Describes different non-graphic pages available and choosing them."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>In addition to choosing the type of graphic to see, OED maintains several other pages that give information.
		</p>

		<h2 id="usage">Usage</h2>
		<p>There are two pages available to general users that are accessed by the buttons in the top, right corner of
			the web
			browser window (highlighted with a blue
			box in the figure)</p>
		<img alt="buttons to navigate OED pages" src="../images/OEDPageChoices.png">
		<p>The page options are given next with a brief description. The provided link goes to another help page with
			extensive information on each page.</p>
		<ul>
			<li><a href="../meterViewing/">Meters</a>. This shows details on each meter including the name and
				status.</li>
			<li><a href="../groupViewing/">Groups</a>. This shows detail on each group to see what meters and groups
				are included.</li>
			<li>The "Log in" button is for those with a user name and password to access special parts of the site. It
				is
				not used by a general user.</li>
		</ul>

		<h2 id="details">Details</h2>
		<p>Additional information available on the meter and group pages along with other pages for admins is given in
			the
			<a href="../admin/">admin help page</a>.
		</p>
	</div>
</div>
