---
layout: page-fullwidth
title: Full Install Output
meta_title: "Full Install Output"
subheadline: "OED Developer Documentation"
breadcrumb: true
help: true
helpType: Developer
helpCategory: "Further Details"
helpDescription: "Shows the terminal output of building OED for the first time."
---
<div class="row">
	{% include help-sidebar %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include developerInfo.html %}

		<p>When you install OED without already having a database or node modules, it does all the steps. Below is
			typical
			output for this process. This output is shown in the nohup.out file for a VSC install or in the terminal
			when
			doing
			<code>docker compose up</code>. Please note:
		</p>
		<ul>
			<li>The exact output will vary with machine type and changes to OED. This output was created on Windows
				11 using
				WSL 2 in October 2023 outside VSC. The string "oed" reflects that it is in a directory with that
				name and one's output would change accordingly.</li>
			<li>The lines starting with "oed-database |" would be elsewhere when using the VSC OED container. One
				can see the output from the database install by right clicking on the database Docker container in
				the VSC
				Docker extension and choosing "Show Logs".</li>
			<li>The output and information in <a href="../noNPMInstallOutput/">install output without redoing
					database or
					npm install</a> is similar to what will happen here.</li>
			<li>For unknown reasons, the OED install fails to run at times in VSC. See the <a
					href="../noNPMInstallOutput/">no npm install output</a> to see the known solution.</li>
		</ul>

		<h3>nohup.out output</h3>
		<pre>
[+] Building 3.2s (14/14) FINISHED                                                                                                                                                              docker:default
=> [database internal] load .dockerignore                                                                                                                                                                0.0s
=> => transferring context: 2B                                                                                                                                                                           0.0s
=> [database internal] load build definition from Dockerfile                                                                                                                                             0.0s
=> => transferring dockerfile: 462B                                                                                                                                                                      0.0s
=> [database internal] load metadata for docker.io/library/postgres:15.3                                                                                                                                 2.1s
=> [database internal] load build context                                                                                                                                                                0.0s
=> => transferring context: 858B                                                                                                                                                                         0.0s
=> [database 1/2] FROM docker.io/library/postgres:15.3@sha256:8775adb39f0db45cf4cdb3601380312ee5e9c4f53af0f89b7dc5cd4c9a78e4e8                                                                           0.0s
=> CACHED [database 2/2] COPY *.sql /docker-entrypoint-initdb.d/                                                                                                                                         0.0s
=> [database] exporting to image                                                                                                                                                                         0.0s
=> => exporting layers                                                                                                                                                                                   0.0s
=> => writing image sha256:b42a00751662cbff86856a54572e167e3eaaa7b9166ccd0433797af9f1005698                                                                                                              0.0s
=> => naming to docker.io/library/oed-database                                                                                                                                                  0.0s
=> [web internal] load .dockerignore                                                                                                                                                                     0.0s
=> => transferring context: 300B                                                                                                                                                                         0.0s
=> [web internal] load build definition from Dockerfile                                                                                                                                                  0.0s
=> => transferring dockerfile: 614B                                                                                                                                                                      0.0s
=> [web internal] load metadata for docker.io/library/node:18.17.1                                                                                                                                       0.6s
=> [web 1/3] FROM docker.io/library/node:18.17.1@sha256:933bcfad91e9052a02bc29eb5aa29033e542afac4174f9524b79066d97b23c24                                                                                 0.0s
=> CACHED [web 2/3] RUN mkdir -p "/usr/src/app"                                                                                                                                                          0.0s
=> CACHED [web 3/3] WORKDIR /usr/src/app                                                                                                                                                                 0.0s
=> [web] exporting to image                                                                                                                                                                              0.0s
=> => exporting layers                                                                                                                                                                                   0.0s
=> => writing image sha256:43ec575d519a23888db44ba3fd4af8847b557a23d927ed22549c81c776244499                                                                                                              0.0s
=> => naming to docker.io/library/oed-web                                                                                                                                                       0.0s
[+] Running 3/3
✔ Network oed_default       Created                                                                                                                                                             0.1s 
✔ Container oed-database  Created                                                                                                                                                             0.2s 
✔ Container oed-web       Created                                                                                                                                                             0.1s 
Attaching to oed-database, oed-web
oed-database  | The files belonging to this database system will be owned by user "postgres".
oed-database  | This user must also own the server process.
oed-database  | 
oed-database  | The database cluster will be initialized with locale "en_US.utf8".
oed-database  | The default database encoding has accordingly been set to "UTF8".
oed-database  | The default text search configuration will be set to "english".
oed-database  | 
oed-database  | Data page checksums are disabled.
oed-database  | 
oed-database  | fixing permissions on existing directory /var/lib/postgresql/data/pgdata ... ok
oed-database  | creating subdirectories ... ok
oed-database  | selecting dynamic shared memory implementation ... posix
oed-database  | selecting default max_connections ... 100
oed-database  | selecting default shared_buffers ... 128MB
oed-database  | selecting default time zone ... Etc/UTC
oed-database  | creating configuration files ... ok
oed-database  | running bootstrap script ... ok
oed-web       | 
oed-web       | 
oed-web       | ***** Starting install of OED at Sun Oct 15 21:36:55 UTC 2023 *****
oed-web       | 
oed-web       | 
oed-web       | NPM install...
oed-web       | 
oed-database  | performing post-bootstrap initialization ... ok
oed-database  | initdb: warning: enabling "trust" authentication for local connections
oed-database  | initdb: hint: You can change this by editing pg_hba.conf or using the option -A, or --auth-local and --auth-host, the next time you run initdb.
oed-database  | syncing data to disk ... ok
oed-database  | 
oed-database  | 
oed-database  | Success. You can now start the database server using:
oed-database  | 
oed-database  |     pg_ctl -D /var/lib/postgresql/data/pgdata -l logfile start
oed-database  | 
oed-database  | waiting for server to start....2023-10-15 21:36:56.244 UTC [49] LOG:  starting PostgreSQL 15.3 (Debian 15.3-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
oed-database  | 2023-10-15 21:36:56.249 UTC [49] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
oed-database  | 2023-10-15 21:36:56.258 UTC [52] LOG:  database system was shut down at 2023-10-15 21:36:55 UTC
oed-database  | 2023-10-15 21:36:56.264 UTC [49] LOG:  database system is ready to accept connections
oed-database  |  done
oed-database  | server started
oed-database  | 
oed-database  | /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/init.sql
oed-database  | CREATE ROLE
oed-database  | DROP DATABASE
oed-database  | psql:/docker-entrypoint-initdb.d/init.sql:6: NOTICE:  database "oed" does not exist, skipping
oed-database  | CREATE DATABASE
oed-database  | DROP DATABASE
oed-database  | psql:/docker-entrypoint-initdb.d/init.sql:8: NOTICE:  database "oed_testing" does not exist, skipping
oed-database  | CREATE DATABASE
oed-database  | ALTER ROLE
oed-database  | 
oed-database  | 
oed-database  | /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/nuke.sql
oed-database  | 2023-10-15 21:36:56.516 UTC [50] LOG:  checkpoint starting: immediate force wait
oed-database  | 2023-10-15 21:36:56.640 UTC [50] LOG:  checkpoint complete: wrote 927 buffers (5.7%); 1 WAL file(s) added, 0 removed, 0 recycled; write=0.016 s, sync=0.077 s, total=0.125 s; sync files=257, longest=0.012 s, average=0.001 s; distance=8450 kB, estimate=8450 kB
oed-database  | DROP DATABASE
oed-database  | 2023-10-15 21:36:56.647 UTC [50] LOG:  checkpoint starting: immediate force wait
oed-database  | 2023-10-15 21:36:56.665 UTC [50] LOG:  checkpoint complete: wrote 3 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.004 s, sync=0.004 s, total=0.018 s; sync files=3, longest=0.003 s, average=0.002 s; distance=1 kB, estimate=7605 kB
oed-database  | DROP DATABASE
oed-database  | CREATE DATABASE
oed-database  | CREATE DATABASE
oed-database  | 
oed-database  | 
oed-database  | waiting for server to shut down...2023-10-15 21:36:56.749 UTC [49] LOG:  received fast shutdown request
oed-database  | .2023-10-15 21:36:56.752 UTC [49] LOG:  aborting any active transactions
oed-database  | 2023-10-15 21:36:56.754 UTC [49] LOG:  background worker "logical replication launcher" (PID 55) exited with exit code 1
oed-database  | 2023-10-15 21:36:56.754 UTC [50] LOG:  shutting down
oed-database  | 2023-10-15 21:36:56.757 UTC [50] LOG:  checkpoint starting: shutdown immediate
oed-database  | 2023-10-15 21:36:56.940 UTC [50] LOG:  checkpoint complete: wrote 1832 buffers (11.2%); 0 WAL file(s) added, 0 removed, 1 recycled; write=0.034 s, sync=0.140 s, total=0.186 s; sync files=498, longest=0.007 s, average=0.001 s; distance=8447 kB, estimate=8447 kB
oed-database  | 2023-10-15 21:36:56.946 UTC [49] LOG:  database system is shut down
oed-database  |  done
oed-database  | server stopped
oed-database  | 
oed-database  | PostgreSQL init process complete; ready for start up.
oed-database  | 
oed-database  | 2023-10-15 21:36:56.970 UTC [1] LOG:  starting PostgreSQL 15.3 (Debian 15.3-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
oed-database  | 2023-10-15 21:36:56.970 UTC [1] LOG:  listening on IPv4 address "0.0.0.0", port 5432
oed-database  | 2023-10-15 21:36:56.970 UTC [1] LOG:  listening on IPv6 address "::", port 5432
oed-database  | 2023-10-15 21:36:56.979 UTC [1] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
oed-database  | 2023-10-15 21:36:56.985 UTC [67] LOG:  database system was shut down at 2023-10-15 21:36:56 UTC
oed-database  | 2023-10-15 21:36:56.992 UTC [1] LOG:  database system is ready to accept connections
oed-web       | npm WARN deprecated multer@1.3.1: Multer 1.x is affected by CVE-2022-24434. This is fixed in v1.4.4-lts.1 which drops support for versions of Node.js before 6. Please upgrade to at least Node.js 6 and version 1.4.4-lts.1 of Multer. If you need support for older versions of Node.js, we are open to accepting patches that would fix the CVE on the main 1.x release line, whilst maintaining compatibility with Node.js 0.10.
oed-web       | npm WARN deprecated mumath@3.3.4: Redundant dependency in your project.
oed-web       | npm WARN deprecated formidable@1.2.6: Please upgrade to latest, formidable@v2 or formidable@v3! Check these notes: https://bit.ly/2ZEqIau
oed-web       | npm WARN deprecated superagent@3.8.3: Please upgrade to v7.0.2+ of superagent.  We have fixed numerous issues with streams, form-data, attach(), filesystem errors not bubbling up (ENOENT on attach()), and all tests are now passing.  See the releases tab for more information at &lt;https://github.com/visionmedia/superagent/releases&gt;.
oed-web       | npm WARN deprecated core-js@2.6.12: core-js@&lt;3.23.3 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Some versions have web compatibility issues. Please, upgrade your dependencies to the actual version of core-js.
oed-web       | 
oed-web       | added 1166 packages, and audited 1167 packages in 31s
oed-web       | 
oed-web       | 111 packages are looking for funding
oed-web       |   run `npm fund` for details
oed-web       | 
oed-web       | 7 vulnerabilities (4 moderate, 3 high)
oed-web       | 
oed-web       | To address issues that do not require attention, run:
oed-web       |   npm audit fix
oed-web       | 
oed-web       | To address all issues possible (including breaking changes), run:
oed-web       |   npm audit fix --force
oed-web       | 
oed-web       | Some issues need review, and may require choosing
oed-web       | a different dependency.
oed-web       | 
oed-web       | Run `npm audit` for details.
oed-web       | npm notice 
oed-web       | npm notice New major version of npm available! 9.6.7 -> 10.2.0
oed-web       | npm notice Changelog: &lt;https://github.com/npm/cli/releases/tag/v10.2.0&gt;
oed-web       | npm notice Run `npm install -g npm@10.2.0` to update!
oed-web       | npm notice 
oed-web       | 
oed-web       | NPM install finished.
oed-web       | 
oed-web       | Attempting to create database...
oed-web       | 
oed-web       | -----start of npm run createdb output-----
oed-web       | 
oed-web       | > open-energy-dashboard@1.0.0 createdb
oed-web       | > node ./src/server/services/createDB.js
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.894+00:00] Automatically set identifier of the unit "kWh" to "kWh"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.936+00:00] Automatically set identifier of the unit "metric ton" to "metric ton"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.941+00:00] Automatically set identifier of the unit "gallon" to "gallon"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.942+00:00] Automatically set identifier of the unit "kg" to "kg"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.944+00:00] Automatically set identifier of the unit "Fahrenheit" to "Fahrenheit"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.945+00:00] Automatically set identifier of the unit "m³ gas" to "m³ gas"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.946+00:00] Automatically set identifier of the unit "BTU" to "BTU"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.947+00:00] Automatically set identifier of the unit "Electric_Utility" to "Electric_Utility"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.947+00:00] Automatically set identifier of the unit "Celsius" to "Celsius"
oed-web       | 
oed-web       | [WARN@2023-10-15T21:37:34.952+00:00] Automatically set identifier of the unit "liter" to "liter"
oed-web       | 
oed-web       | -----end of npm run createdb output-----
oed-web       | 
oed-web       |   database creation had no errors so assume schema creation worked.
oed-web       | 
oed-web       | > open-energy-dashboard@1.0.0 createUser
oed-web       | > node ./src/server/services/user/createUser.js test@example.com password
oed-web       | 
oed-web       | [INFO@2023-10-15T21:37:46.142+00:00] User test@example.com created
oed-web       | 
oed-web       | User creation had no errors so default user 'test@example.com' with password 'password' should exist
oed-web       | Creating developer DB function
oed-web       | 
oed-web       | > open-energy-dashboard@1.0.0 developerdb
oed-web       | > node -e 'require("./src/server/util/developer.js").createShiftReadingsFunction()'
oed-web       | 
oed-web       | OED install finished
oed-web       | Starting OED in development mode
oed-web       | 
oed-web       | > open-energy-dashboard@1.0.0 webpack:dev
oed-web       | > webpack watch --color --progress --mode development
oed-web       | 
oed-web       | 
oed-web       | > open-energy-dashboard@1.0.0 start:dev
oed-web       | > nodemon --legacy-watch --inspect=0.0.0.0 ./src/bin/www
oed-web       | 
oed-web       | [nodemon] 2.0.22
oed-web       | [nodemon] to restart at any time, enter `rs`
oed-web       | [nodemon] watching path(s): src/server/**/* src/bin/**/* src/common/**/*
oed-web       | [nodemon] watching extensions: js,mjs,json
oed-web       | [nodemon] starting `node --inspect=0.0.0.0 ./src/bin/www`
oed-web       | Debugger listening on ws://0.0.0.0:9229/8f986c6b-88ca-4b76-9b3f-eb6e77a84041
oed-web       | For help, see: https://nodejs.org/en/docs/inspector
oed-web       | [INFO@2023-10-15T21:37:58.120+00:00] Listening on port 3000
oed-web       | 
oed-web       | &lt;s&gt; [webpack.Progress] 3% setup watch run
oed-web       | &lt;s&gt; [webpack.Progress] 3% setup watch run webpack-cli
oed-web       | &lt;s&gt; [webpack.Progress] 3% setup watch run
oed-web       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory
oed-web       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory LodashModuleReplacementPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 4% setup normal module factory
oed-web       | &lt;s&gt; [webpack.Progress] 5% setup context module factory
oed-web       | &lt;s&gt; [webpack.Progress] 5% setup context module factory
oed-web       | &lt;s&gt; [webpack.Progress] 6% setup before compile
oed-web       | &lt;s&gt; [webpack.Progress] 6% setup before compile ProgressPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 6% setup before compile
oed-web       | &lt;s&gt; [webpack.Progress] 7% setup compile
oed-web       | &lt;s&gt; [webpack.Progress] 7% setup compile ExternalsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 7% setup compile
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation ArrayPushCallbackChunkFormatPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation JsonpChunkLoadingPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation StartupChunkDependenciesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation ImportScriptsChunkLoadingPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation FetchCompileWasmPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation FetchCompileAsyncWasmPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation WorkerPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation SplitChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation ResolverCachePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 8% setup compilation
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ProgressPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ProvidePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ChunkPrefetchPreloadPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ModuleInfoHeaderPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation JavascriptModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation JsonModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation AssetModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation EntryPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RuntimePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation InferAsyncModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation DataUriPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation FileUriPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation CompatibilityPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation HarmonyModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation AMDPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireJsStuffPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation CommonJsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation LoaderPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation LoaderPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation NodeStuffPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation APIPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ExportsInfoApiPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation WebpackIsIncludedPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ConstPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation UseStrictPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireIncludePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireEnsurePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireContextPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ImportPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RequireContextPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation SystemPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation ImportMetaPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation URLPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsFactoryPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsPresetPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefaultStatsPrinterPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation JavascriptMetaInfoPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation EnsureChunkConditionsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RemoveEmptyChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation MergeDuplicateChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation SideEffectsFlagPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation FlagDependencyExportsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation NamedModuleIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation NamedChunkIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation DefinePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation TemplatedPathPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation RecordIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation WarnCaseSensitiveModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation AddBuildDependenciesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation AddBuildDependenciesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 9% setup compilation
oed-web       | &lt;s&gt; [webpack.Progress] 10% building
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 0/0 dependencies 0/0 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/ts-loader/index.js
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 1/1 dependencies 0/1 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 1/2 dependencies 0/1 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/style-loader/dist/cjs.js
oed-web       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/css-loader/dist/cjs.js
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 10/33 dependencies 0/9 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building import loader ./node_modules/source-map-loader/dist/cjs.js
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 48/52 dependencies 0/38 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 48/100 dependencies 0/38 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 78/138 dependencies 2/62 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 194/234 dependencies 34/101 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 231/261 dependencies 43/108 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 399/500 dependencies 49/160 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 442/790 dependencies 54/200 modules
oed-web       | &lt;s&gt; [webpack.Progress] 10% building 0/1 entries 858/900 dependencies 64/355 modules
oed-web       | &lt;s&gt; [webpack.Progress] 11% building 0/1 entries 1200/1273 dependencies 151/466 modules
oed-web       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 1400/1450 dependencies 235/492 modules
oed-web       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 1418/1500 dependencies 238/494 modules
oed-web       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 1800/1898 dependencies 260/533 modules
oed-web       | &lt;s&gt; [webpack.Progress] 12% building 0/1 entries 2011/2100 dependencies 263/549 modules
oed-web       | &lt;s&gt; [webpack.Progress] 15% building 0/1 entries 2475/2500 dependencies 476/668 modules
oed-web       | &lt;s&gt; [webpack.Progress] 15% building 0/1 entries 2700/2773 dependencies 542/763 modules
oed-web       | &lt;s&gt; [webpack.Progress] 16% building 0/1 entries 2843/2890 dependencies 600/779 modules
oed-web       | &lt;s&gt; [webpack.Progress] 17% building 0/1 entries 3032/3100 dependencies 685/858 modules
oed-web       | &lt;s&gt; [webpack.Progress] 65% building 1/1 entries 3747/3747 dependencies 1071/1071 modules
oed-web       | &lt;s&gt; [webpack.Progress] 65% building
oed-web       | &lt;s&gt; [webpack.Progress] 69% building finish
oed-web       | &lt;s&gt; [webpack.Progress] 69% building finish
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph ResolverCachePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph InferAsyncModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph FlagDependencyExportsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing finish module graph
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing plugins
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing plugins WarnCaseSensitiveModulesPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 70% sealing plugins
oed-web       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization
oed-web       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization SideEffectsFlagPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 71% sealing dependencies optimization
oed-web       | &lt;s&gt; [webpack.Progress] 71% sealing after dependencies optimization
oed-web       | &lt;s&gt; [webpack.Progress] 71% sealing after dependencies optimization
oed-web       | &lt;s&gt; [webpack.Progress] 72% sealing chunk graph
oed-web       | &lt;s&gt; [webpack.Progress] 72% sealing chunk graph
oed-web       | &lt;s&gt; [webpack.Progress] 73% sealing after chunk graph
oed-web       | &lt;s&gt; [webpack.Progress] 73% sealing after chunk graph
oed-web       | &lt;s&gt; [webpack.Progress] 73% sealing optimizing
oed-web       | &lt;s&gt; [webpack.Progress] 73% sealing optimizing
oed-web       | &lt;s&gt; [webpack.Progress] 74% sealing module optimization
oed-web       | &lt;s&gt; [webpack.Progress] 74% sealing module optimization
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing after module optimization
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing after module optimization
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization EnsureChunkConditionsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization RemoveEmptyChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization MergeDuplicateChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization SplitChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization RemoveEmptyChunksPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 75% sealing chunk optimization
oed-web       | &lt;s&gt; [webpack.Progress] 76% sealing after chunk optimization
oed-web       | &lt;s&gt; [webpack.Progress] 76% sealing after chunk optimization
oed-web       | &lt;s&gt; [webpack.Progress] 77% sealing module and chunk tree optimization
oed-web       | &lt;s&gt; [webpack.Progress] 77% sealing module and chunk tree optimization
oed-web       | &lt;s&gt; [webpack.Progress] 77% sealing after module and chunk tree optimization
oed-web       | &lt;s&gt; [webpack.Progress] 77% sealing after module and chunk tree optimization
oed-web       | &lt;s&gt; [webpack.Progress] 78% sealing chunk modules optimization
oed-web       | &lt;s&gt; [webpack.Progress] 78% sealing chunk modules optimization
oed-web       | &lt;s&gt; [webpack.Progress] 78% sealing after chunk modules optimization
oed-web       | &lt;s&gt; [webpack.Progress] 78% sealing after chunk modules optimization
oed-web       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving
oed-web       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving RecordIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 79% sealing module reviving
oed-web       | &lt;s&gt; [webpack.Progress] 80% sealing before module ids
oed-web       | &lt;s&gt; [webpack.Progress] 80% sealing before module ids
oed-web       | &lt;s&gt; [webpack.Progress] 80% sealing module ids
oed-web       | &lt;s&gt; [webpack.Progress] 80% sealing module ids NamedModuleIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 80% sealing module ids
oed-web       | &lt;s&gt; [webpack.Progress] 81% sealing module id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 81% sealing module id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 82% sealing module id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 82% sealing module id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving
oed-web       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving RecordIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 82% sealing chunk reviving
oed-web       | &lt;s&gt; [webpack.Progress] 83% sealing before chunk ids
oed-web       | &lt;s&gt; [webpack.Progress] 83% sealing before chunk ids
oed-web       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids
oed-web       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids NamedChunkIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 84% sealing chunk ids
oed-web       | &lt;s&gt; [webpack.Progress] 84% sealing chunk id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 84% sealing chunk id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 85% sealing after chunk id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 85% sealing after chunk id optimization
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record modules
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record modules RecordIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record modules
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks RecordIdsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 86% sealing record chunks
oed-web       | &lt;s&gt; [webpack.Progress] 87% sealing module hashing
oed-web       | &lt;s&gt; [webpack.Progress] 87% sealing module hashing
oed-web       | &lt;s&gt; [webpack.Progress] 87% sealing code generation
oed-web       | &lt;s&gt; [webpack.Progress] 87% sealing code generation
oed-web       | &lt;s&gt; [webpack.Progress] 88% sealing runtime requirements
oed-web       | &lt;s&gt; [webpack.Progress] 88% sealing runtime requirements
oed-web       | &lt;s&gt; [webpack.Progress] 89% sealing hashing
oed-web       | &lt;s&gt; [webpack.Progress] 89% sealing hashing
oed-web       | &lt;s&gt; [webpack.Progress] 89% sealing after hashing
oed-web       | &lt;s&gt; [webpack.Progress] 89% sealing after hashing
oed-web       | &lt;s&gt; [webpack.Progress] 90% sealing record hash
oed-web       | &lt;s&gt; [webpack.Progress] 90% sealing record hash
oed-web       | &lt;s&gt; [webpack.Progress] 91% sealing module assets processing
oed-web       | &lt;s&gt; [webpack.Progress] 91% sealing module assets processing
oed-web       | &lt;s&gt; [webpack.Progress] 91% sealing chunk assets processing
oed-web       | &lt;s&gt; [webpack.Progress] 91% sealing chunk assets processing
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing ts-loader
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js generate SourceMap
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js generated SourceMap
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin resolve sources
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js attach SourceMap
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin bundle.js attached SourceMap
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin resolve sources
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing SourceMapDevToolPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 92% sealing asset processing
oed-web       | &lt;s&gt; [webpack.Progress] 93% sealing after asset optimization
oed-web       | &lt;s&gt; [webpack.Progress] 93% sealing after asset optimization
oed-web       | &lt;s&gt; [webpack.Progress] 93% sealing recording
oed-web       | &lt;s&gt; [webpack.Progress] 93% sealing recording
oed-web       | &lt;s&gt; [webpack.Progress] 94% sealing after seal
oed-web       | &lt;s&gt; [webpack.Progress] 94% sealing after seal
oed-web       | &lt;s&gt; [webpack.Progress] 95% emitting emit
oed-web       | &lt;s&gt; [webpack.Progress] 95% emitting emit
oed-web       | &lt;s&gt; [webpack.Progress] 98% emitting after emit
oed-web       | &lt;s&gt; [webpack.Progress] 98% emitting after emit SizeLimitsPlugin
oed-web       | &lt;s&gt; [webpack.Progress] 98% emitting after emit
oed-web       | &lt;s&gt; [webpack.Progress] 99% done plugins
oed-web       | &lt;s&gt; [webpack.Progress] 99% done plugins IdleFileCachePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 99% done plugins
oed-web       | &lt;s&gt; [webpack.Progress] 99% 
oed-web       | 
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies IdleFileCachePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache store build dependencies
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache begin idle
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache begin idle IdleFileCachePlugin
oed-web       | &lt;s&gt; [webpack.Progress] 99% cache begin idle
oed-web       | &lt;s&gt; [webpack.Progress] 100% 
oed-web       | 
oed-web       | asset bundle.js 15.4 MiB [emitted] [big] (name: application) 1 related asset
oed-web       | orphan modules 236 KiB [orphan] 128 modules
oed-web       | runtime modules 1.7 KiB 8 modules
oed-web       | modules by path ./node_modules/ 13.2 MiB 756 modules
oed-web       | modules by path ./src/ 1.2 MiB 171 modules
oed-web       | asset modules 4.4 KiB
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 281 bytes [built] [code generated]
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 279 bytes [built] [code generated]
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 161 bytes [built] [code generated]
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 271 bytes [built] [code generated]
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 181 bytes [built] [code generated]
oed-web       |   data:image/svg+xml,%3csvg xmlns=%27.. 165 bytes [built] [code generated]
oed-web       |   + 10 modules
oed-web       | webpack 5.76.3 compiled successfully in 29752 ms
</pre>
	</div>
</div>
