---
layout: page-fullwidth
title: Overview
meta_title: "Developer Overview Doc"
subheadline: "OED Developer Documentation"
breadcrumb: true
help: true
helpType: Developer
helpCategory: "Information"
helpDescription: "Lists developer documentation pages."
---
{% include developerInfo.html %}
{% include help-page helpPage=true %}

<!-- TODO remove -->
 <h1>Remove</h1>
<div>
	<h1>OED Developer Overview</h1>
	<p>These pages provide information that is useful for OED code developers. It does not contain information that is
		useful for using or running OED. Please see the main OED website and documentation pages for that (linked above).</p>
	<p>There are developer pages for:</p>
	<ul>
		<li><a href="gettingStarted.html">Getting Started</a>: </li>
		<li><a href="cla.html">Our Contributor's License agreement (CLA)</a>:  </li>
		<li><a href="testData.html">OED Test Data</a>:  </li>
		<li><a href="work.html"> </li>
		<li><a href="codeGuidelines.html">Code Documentation Guidelines</a>:  </li>
		<li><a href="pr.html">Pull Requests</a>: 
		<li><a href="learningTechnologies.html">OED Technology Learning Resources</a>: describes resources to learn
			about the technologies used in OED.</li>
		<li><a href="codeOrganization.html">Code Organization</a>: </li>
		<li><a href="technologies.html">Technology Overview</a>: </li>
		<li><a href="devDetails.html">OED Developer Details</a>: </li>
		<li><a href="testing.html">OED Code Testing</a>: information on how to use and include test code in OED.</li>
		<li><a href="npm.html">npm commands</a>: information on npm commands that are available for a wide array of
			actions.</li>
		<li><a href="environment.html">OED environment variables</a>: 
		</li>
		<li><a href="release.html">OED release step</a>: </li>
	</ul>
	<p>If you are a developer interested in an internship we have <a href="../internship.html">a page</a> with further
		information.</p>
</div>
