---
layout: page-fullwidth
title: Learn OED Technology
meta_title: "OED Developer Documentation"
subheadline: "Learning Technology"
breadcrumb: true
help: true
helpType: Developer
helpCategory: "Codebase Info"
helpDescription: "Describes resources to learn about the technologies used in OED."
---
<div class="row">
	{% include help-sidebar %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include developerInfo.html %}

		<p>As a new developer, it can be daunting to understand and learn all of the technologies used in OED. This
			page,
			which everyone is encouraged to update, contains some resources that can be useful in this pursuit. This is
			not
			meant to be an exhaustive list nor rate these sites but to provide ones that project members or others have
			found useful. As always, you can contact the project with questions or for help.</p>
		<p>The following graphic shows some of the main technologies in OED grouped by where they are used. The "Others"
			group are technologies that generally span multiple parts of OED and are seen depending on what you are
			doing.
			Developers often only need to know the technology in one area or even a subset of that area. This can make
			the
			task of learning the needed technologies much more manageable. </p>
		<p><img alt="OED technologies" src="../images/OEDTechnology.jpg"></p>
		<p>You may also find the <a href="../technologies/">Technology Overview</a> giving an overview of the front-end
			process to be useful.</p>

		<h2>Git</h2>
		<ul>
			<li> <a href="https://git-scm.com/book/en/v2" rel="noopener noreferrer">Pro Git</a> is a comprehensive book
				with
				both introductory materials and advanced features that is available for free in electronic formats.
			</li>
			<li> <a href="https://docs.github.com/en" rel="noopener noreferrer">GitHub</a> has extensive help on the
				particular git platform that OED uses. </li>
		</ul>

		<h2>JavaScript</h2>
		<p>JavaScript is a very popular language for developing web applications. While it shares part of its name with
			Java,
			it is a different language. It is used in the back-end of OED. There are many sources of information on
			JavaScript with some listed here. Note some discuss how to customize web pages and other features that will
			not
			be used as heavily in this project.</p>
		<ul>
			<li>Mozilla has a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
					rel="noopener noreferrer">JavaScript tutorials along with reference materials</a>.</li>
			<li>codecademy has a <a
					href="https://www.codecademy.com/learn/introduction-to-javascript?composer_curriculum_redirect=javascript"
					rel="noopener noreferrer">Introduction to JavaScript</a> course.</li>
			<li> <a href="http://eloquentjavascript.net/" rel="noopener noreferrer">Eloquent JavaScript</a> is an online
				book that can also be downloaded. </li>
			<li> <a href="https://en.wikibooks.org/wiki/JavaScript/Introduction" rel="noopener noreferrer">WIKIBOOKS is
					a
					book/tutorial</a>. </li>
			<li>w3schools has a <a href="https://www.w3schools.com/js/" rel="noopener noreferrer">JavaScript
					tutorial</a>.
			</li>
			<li>Khan Academy has a <a href="https://www.khanacademy.org/computing/computer-programming/programming"
					rel="noopener noreferrer">JavaScript tutorial</a> but note the early sections on graphics are not as
				applicable.</li>
			<li>Learn JS has a <a href="https://www.learn-js.org/" rel="noopener noreferrer">JavaScript tutorial</a>
				that
				includes online coding with unit testing.</li>
			<li><a href="https://github.com/practical-tutorials/project-based-learning">This GitHub repo</a> has
				recommendations for how to learn various programming environments including JavaScript.</li>
			<li><a href="https://www.liveabout.com/learn-javascript-online-2071405">This list</a> has places to
				learn JavaScript given different backgrounds.</li>
		</ul>

		<h2>TypeScript</h2>
		<p>TypeScript is a language layered on top of JavaScript that adds typing and other features to make JavaScript
			more
			secure. It is used in the front-end of OED. There are many sources to learn TypeScript including one from
			the <a href="https://www.typescriptlang.org/docs/" rel="noopener noreferrer">TypeScript organization</a>.
		</p>

		<h2>JavaScript Promises</h2>
		<p>Promises is a system within JavaScript to help deal with the situation when some actions depend on others. In
			a
			nutshell, there are times you want to wait on one action to finish before another begins. This is used
			throughout the OED code base.</p>
		<ul>
			<li>Digital Ocean has a <a
					href="https://www.digitalocean.com/community/tutorials/understanding-javascript-promises"
					rel="noopener noreferrer">Understanding JavaScript Promises</a>.</li>
			<li>There is another site with a <a href="https://javascript.info/async"
					rel="noopener noreferrer">JavaScript
					Promises</a> introduction (and JavaScript too).</li>
		</ul>

		<h2>React</h2>
		<p>React is a JavaScript library for building user interfaces. It is used by many organizations and projects. It
			is
			used in the OED front-end.</p>
		<ul>
			<li>The react community has a <a href="https://react.dev/learn/tutorial-tic-tac-toe"
					rel="noopener noreferrer">React tutorial</a> along with a <a href="https://react.dev/learn"
					rel="noopener noreferrer">Quick Start</a> page.
			</li>
			<li><a href="https://github.com/practical-tutorials/project-based-learning">This GitHub repo</a> has
				recommendations for how to learn various programming environments including React.</li>
		</ul>

		<h2>Redux</h2>
		<p>Redux is a JavaScript library to help handle state. OED uses it along with React. It is used
			in the OED front-end.</p>
		<ul>
			<li>The Redux community has a <a href="https://redux.js.org/tutorials/index" rel="noopener noreferrer">Redux
					tutorial</a> along with reference materials.</li>
		</ul>

		<h2>Postgres</h2>
		<p>For several reasons, OED uses the PostgreSQL database. While much of database code is standard SQL, some is
			PostgreSQL specific to access specific features.</p>
		<ul>
			<li>The PostgreSQL <a href="https://www.postgresql.org/" rel="noopener noreferrer">website</a> has extensive
				information and documentation.</li>
			<li>OED uses <a href="https://github.com/vitaly-t/pg-promise" rel="noopener noreferrer">pg-promise</a> to
				interface with PostgreSQL. Its website and many others have information on this system. As the name
				implies,
				it also uses promises.</li>
		</ul>

		<h2>Plotly</h2>
		<p>The graphics in OED are produced with Plotly using their <a href="https://plotly.com/javascript/"
				rel="noopener noreferrer">JavaScript library</a>. There are many other references for using Plotly.</p>

		<h2>Chai and Mocha</h2>
		<p>OED uses the <a href="https://www.chaijs.com/" rel="noopener noreferrer">Chai</a> and <a
				href="https://mochajs.org/" rel="noopener noreferrer">Mocha</a> testing frameworks to test the OED code
			base. Both sites have information on usage as well as many other sites. We generally only use a subset of
			the
			features that can be seen by looking at our test code.</p>

		<h2>Other packages</h2>
		<p>OED directly depends on dozens of <a href="https://www.npmjs.com/" rrel="noopener noreferrer">npm</a>
			JavaScript
			packages and indirectly on many more. Some ones that are used more extensively include node (for running the
			JavaScript), express (for web requests), moment (for date/time objects), lodash (utility functions),
			react-intl
			(internationalization) and webpack (bundle app). You will see these and others in the OED code base. It is
			often
			best to learn about them as needed.</p>
	</div>
</div>
