---
layout: page-fullwidth
title: Selecting Work
meta_title: "Selecting Work"
subheadline: "OED Developer Documentation"
breadcrumb: true
help: true
helpType : Developer
helpCategory : "Starting"
helpDescription : "Describes some thoughts on choosing work within the OED project."
---
<div class="row">
	{% include help-sidebar %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include developerInfo.html %}

		<p>We understand that when you join OED it can be tricky to figure out what to work on. This can also be the
			case as
			you wind down some work and are looking for more. The best way is to reach out to our <a
				href="mailto:developer@OpenEnergyDashboard.org">developer email list</a> or your OED mentor (if you have
			one) so we can be of assistance. We will help you find tasks that help the project and are aligned with your
			interests.</p>
		<p>What you should work on depends on your background and interests, knowledge of the project and our needs so
			there
			is no single answer for what is best that suits everyone. One useful place to look is the <a
				href="https://github.com/OpenEnergyDashboard/OED/issues" rel="noopener noreferrer">GitHub issues</a> for
			OED. There you will find issues in many areas that are labeled in ways that may help you identify which to
			work
			on. If you are new to the project and want to start with easier tasks then ones labeled "i-good-first-issue"
			are
			good ones to consider. The priority ("low", "medium" and "high") also gives some idea of how important an
			item
			is to the project. Others indicate what area of the project an issue relates to. It is a good idea to see if
			a
			task is assigned to any developers. If it is, then it may be under active development or that person knows
			the
			status. You should reach out to that person or the project for more information before working on that task.
			For
			related reasons, you should make sure you are assigned a task you are working on so others are aware you are
			working on it. The project board (see below) should also be updated as needed. If you cannot do these due to
			permission issues then contact the <a href="mailto:developer@OpenEnergyDashboard.org">developer email
				list</a>
			to get the changes made. You can also look at <a
				href="https://github.com/OpenEnergyDashboard/OED/milestones" rel="noopener noreferrer">OED GitHub
				milestones</a> to see what items are associated with which release of
			OED. This is an indication of the time frame that the item needs to be completed. Note that a task that does
			not
			show up in the issues, etc. is documenting the code. There are parts that have insufficient comments and it
			is
			very valuable to the project to rectify that situation. It is also a way to engage with the code without
			having
			to make changes that impact how it runs.</p>
		<p>The <a href="https://github.com/OpenEnergyDashboard/DesignDocs">design documents</a> (and previously the <a
				href="https://github.com/OpenEnergyDashboard/OED/projects?type=beta" rel="noopener noreferrer">projects
				boards</a>) have an overview of major initiatives. It lets you know what work is in
			progress and what we hope to do next. This generally overlaps the issues but gives a broader picture and is
			more
			visual.</p>
		<p>The <a href="https://openenergydashboard.github.io/contact.html">OED Discord channel</a> for developers (and
			previously the <a href="https://github.com/OpenEnergyDashboard/OED/discussions"
				rel="noopener noreferrer">discussion board</a>) . Here you can see the status of development and thought
			that have come up on issues relating to OED. You are encouraged to subscribe to this discussion by clicking
			the
			button on the right side of the page with this discussion group.</p>
		<p>If you see an item that refers to a developer document and you do not have access then please just request
			it.
		</p>
	</div>
</div>
