---
layout: page-fullwidth
title: Graph Type
meta_title: "Graph Type Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Graphing"
helpDescription: "Describes the types of graphics and how to select them."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>OED offers multiple types of graphics so you can engage with the data in different ways. The selection of
			meters
			and groups remains as you change graphic pages. Also, to make it easier to use multiple graphics, the color
			of a
			meter or group remains the same on the line, bar and map graphic. Compare graphics use the same two colors
			for
			previous/current time period for all meters/groups.</p>

		<h2 id="usage">Usage</h2>
		<p>There are four types of graphics that each reside on a different page of OED. You can select the desired
			graphic
			by clicking one the choices from those available in the dropdown menu (highlighted by the blue box) in the
			following figure:</p>
		<img alt="choosing graphic options" src="../images/OEDGraphicChoices.png" style="width: 75vw; min-width: 700px;">
		<p>The graphics options are given next with a brief description. The provided link goes to another help page
			with
			extensive information on each graphic page.</p>
		<ul>
			<li><a href="../lineGraphic/">Line Graphic</a>. In this representation, each meter or group is represented
				by a
				line graph of usage versus time. There are options to control the time frame shown and to scroll through
				time.</li>
			<li><a href="../barGraphic/">Bar Graphic</a>. In this representation, each meter or group is represented by
				a
				bar graph of usage versus time. There are options to control the time frame shown in each bar and the
				type
				of bars used.</li>
			<li><a href="../compareGraphic/">Compare Graphic</a>. In this representation, each meter or group is
				represented
				in an individual bar graph that shows usage during the current period versus the same period immediately
				before. For example, usage of this week versus last week. There are options to control the period
				compared
				and order in which the bar graphs are shown.</li>
			<li><a href="../mapGraphic/">Map Graphic</a>. In this representation, each meter or group is represented by
				a
				circle on a map where the size of the circle indicates the usage. This graphic is designed to visually
				show
				how usage varies across areas on the map.</li>
		</ul>
		<h2 id="details">Details</h2>
		<p>Use the provided link to get to other help page with
			extensive information on each graphic page.
		</p>
		<p>By default, OED will display the line graphic page when it starts. The site administrator can change this to
			be
			any of the graph types. The user can choose any type as described above.</p>
	</div>
</div>
