---
layout: page-fullwidth
title: Data Acquisition
meta_title: "Data Acquisition Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: Admin
helpCategory: "Data Acquisition"
helpDescription: "Overviews the types of meters supported and how to control them in OED. This includes uploading
meters or readings via a CSV file."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include adminInfo.html %}

		<h2 id="overview">Overview</h2>
		<p>The OED system stores and works with readings. These are normally thought of as meter readings but can come
			from
			any source. OED has a standard way to acquire these readings but also provides software that can take
			readings
			from other sources and manipulate them to fit our model of how readings should come to OED. This allows for
			sites to directly acquire readings from a number of sources. Note that it is possible to do this for other
			meter
			systems. We are willing to either work with you (or another party) to create the needed code or, if it
			seems appropriate, create this code for a new type of device. At the current time OED has systems in place
			to
			automatically acquire data from Obvius AcquiSuite and MAMAC meter. These are described below.</p>

		<h2 id="usage">Usage</h2>
		<h3>Obvius</h3>
		<p><a href=" https://leviton.com/products/commercial/submetering/data-acquisition" rel="noopener noreferrer">Obvius
				AcquiSuite</a> acquires meter data using Obvius hardware for a large number of metering devices. The
			system
			has the ability to provide this data to other systems. OED uses the push mechanism where AcquiSuite
			periodically
			sends OED this data. As we work with more sites in using Obvius, we plan to provide instructions to let you
			do
			this yourself. For now, please contact us and we will help you through this process.</p>

		<h3>MAMAC meters</h3>
		<p><a href="http://mamacsys.com/" rel="noopener noreferrer">MAMAC meters</a> are hardware devices that collect
			various types of metering data. OED uses its ability to send a CSV file with meter data via a web request.
			At
			the current time, adding new meters needs to be done on the OED server (no web interface). The directions
			are
			provided as part of the OED software. Thus, this process is normally done by an IT person where they need a
			CSV
			file with the IP addresses of the desired MAMAC meters. If you need assistance in doing this then please
			contact
			us.</p>

		<h2 id="details">Details</h2>
		<p>OED understands that you need your data within OED to work with it. We have mostly completed the
			implementation
			of a system to allow for the adding of meters and readings via a CSV file. It is anticipated this will be
			released for production use in the near future. This system allows admins to upload the CSV files via a web
			interface (replacing the current one on the <a href="../adminPreferences/">main admin page</a>). It will
			also allow code or scripts to automate this process. This means that if you can get any meter data into CSV
			format then you will be able to upload it into OED. This may be easier for many sites than creating the code
			to
			work with the OED API (Application Programming Interface) to upload meter data. We are working with people
			to
			create the necessary scripts/system to do this for a very common site energy management system. If you are
			interested in a particular system then please contact us to see how we can help.</p>
	</div>
</div>
