---
layout: page-fullwidth
title: Meter Viewing
meta_title: "Meter Viewing Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Meters/Groups"
helpDescription: "Describes the page where you can see details on meters. "
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>Meters are the lowest level of data in OED and central to the system. So that users can understand about the
			meters
			available, OED maintains the meter page to give details.</p>

		<h2 id="usage">Usage</h2>
		<p>Click on the "Meters" page choice (see <a href="../pageChoices/">Page Choices</a> for information on doing
			this). Once done, you will see what is in the next figure.</p>
		<img alt="meters page" src="../images/OEDMetersPage.png" style="width: 75vw; min-width: 700px;">
		<p>The columns shown in the table tell the following:</p>
		<ol>
			<li>Meter ID: Tells the number assigned to the meter. This is not of use and should be removed from the page
				in
				the future.</li>
			<li>Meter Name: This is the name of the meter shown when <a href="../graphingMeters/">graphing meters</a>.
			</li>
			<li>Meter Updates: This indicates if the meter is automatically collecting new data ("Updates Enabled") or
				not
				("Updates Disabled"). Meter values can be set in
				other ways that regularly update values but if updates are disabled this could indicate that recent data
				may
				not be as readily
				available for this meter.</li>
			<li>Meter Display: This is always "Display Enabled" for a regular user since any meter that cannot be
				graphed by
				a regular user is not shown. </li>
		</ol>

		<h2 id="details">Details</h2>
		<p>Admins can see other details about meters as explained on the <a href="../adminMeterViewing/">admin
				meters</a>
			help page</p>
	</div>
</div>
