<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
</head>

<body>
	<div class="navbar">
		<a href="../../index.html"> <img id="logo" alt="OED logo" src="../../images/logo.png" /></a>
		<a href="../../index.html">OED Website</a>
		<a href="index.html">help: </a>
		<a href="admin.html">Admin help:</a>
		<a href="adminPreferences.html">Preferences</a>
		<a href="adminMeterViewing.html">Meters</a>
		<a href="adminGroupViewing.html">Groups</a>
		<a href="adminMap.html">Maps</a>
		<a href="adminDataAcquisition.html">Data Acquisition</a>
		<a href="adminInstallation.html">Site Installation</a>
		<div class="dropdown">
			<button class="dropbtn">Help versions &#x25BC</button>
			<div class="dropdown-content">
				<a href="../v0.6.0/{{page.name}}">OED version 0.6.0 Help</a>
				<a href="../v0.7.0/{{page.name}}">OED version 0.7.0 Help</a>
				<a href="../v0.8.0/{{page.name}}">OED version 0.8.0 Help</a>
				<a href="../v1.0.0/{{page.name}}">OED version 0.8.0 Help</a>
			</div>
		</div>
	</div>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<div class="navbar">
			<a href="mailto:developer@OpenEnergyDashboard.org">Email Developer Help or comments on these
				pages</a>
			<a href="https://github.com/OpenEnergyDashboard/OED" target="_blank" rel="noopener noreferrer">GitHub
				Repository</a>
		</div>
		<p>This page is part of the Open Energy Dashboard and is subject to the terms of the Mozilla Public
			License,
			v. 2.0. If a copy of the MPL was not distributed with this file, you can obtain one at <a
				href="https://www.mozilla.org/en-US/MPL/2.0/" rel="nofollow">https://www.mozilla.org/en-US/MPL/2.0/</a>.</p>
	</footer>
</body>

</html>