<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
	<div class="navbar">
			<a href="index.html"> <img id="logo" alt="OED logo" src="images/logo.png" /></a>
			<a href="index.html">Home</a>
			<a href="features.html">Features</a>
			<a href="use.html">Use</a>
			<a href="contact.html">Contact Us</a>
			<a href="involved.html">Get involved</a>
			<a href="projectInfo.html">Project info</a>
			<a href="help/index.html">Help Pages</a>
			<a href="developer/index.html">Developer Pages</a>
	</div>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<div class="navbar">
				<a href="mailto:info@OpenEnergyDashboard.org">Email</a>
				<a href="https://github.com/OpenEnergyDashboard/OED" target="_blank" rel="noopener noreferrer">GitHub
					Repository</a>
		</div>
		<p>This page is part of the Open Energy Dashboard and is subject to the terms of the Mozilla Public License,
			v. 2.0. If a copy of the MPL was not distributed with this file, you can obtain one at <a
				href="http://mozilla.org/MPL/2.0/" rel="nofollow">http://mozilla.org/MPL/2.0/</a>.</p>
	</footer>
</body>

</html>