<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav>
		<ul>
			<a href="index.html"> <img id="logo" alt="OED logo"
				src="images/logo.jpg" /></a>
			<li><a href="index.html">Home</a></li>
			<li><a href="features.html">Features</a></li>
			<li><a href="use.html">Use</a></li>
			<li><a href="suggestions.html">Suggestions</a></li>
			<li><a href="involved.html">Get involved</a></li>
			<li><a href="licenseInfo.html">License</a></li>
			<li><a href="plans.html">Plans</a></li>
			<li><a href="future.html">Future</a></li>
			<li><a href="history.html">History</a></li>
		</ul>
	</nav>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:oed@beloit.edu">Email</a></li>
			<li><a href="https://github.com/OpenEnergyDashboard/OED"
				target="_blank">GitHub Repository</a></li>
		</ul>
	</footer>
</body>
</html>
