<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<style>
	ul.navigation {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	ul.navigation li {
		float: left;
	}


	ul.navigation li a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	ul.navigation li a:hover:not(.active) {
		background-color: #000;
	}

	ul.navigation li a.active {
		background-color: #4CAF50;
	}
</style>

<body>
	<nav>
		<ul class="navigation">
			<a href="index.html"> <img id="logo" alt="OED logo" src="images/logo.png" /></a>
			<li><a href="index.html">Home</a></li>
			<li><a href="features.html">Features</a></li>
			<li><a href="use.html">Use</a></li>
			<li><a href="suggestions.html">Suggestions</a></li>
			<li><a href="involved.html">Get involved</a></li>
			<li><a href="licenseInfo.html">License</a></li>
			<li><a href="plans.html">Release Notes</a></li>
			<li><a href="future.html">Future</a></li>
			<li><a href="history.html">History</a></li>
		</ul>
	</nav>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:info@OpenEnergyDashboard.org">Email</a></li>
			<li><a href="https://github.com/OpenEnergyDashboard/OED" target="_blank" rel="noopener noreferrer">GitHub
					Repository</a></li>
		</ul>
	</footer>
</body>

</html>