<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
	<div class="navbar">
		<a href="../index.html"> <img id="logo" alt="OED logo" src="../images/logo.png" /></a>
		<a href="../index.html">OED Website</a>
		<a href="../help/v1.0.0/index.html">OED Help</a>
		<a href="index.html">Developer Home</a>
		<a href="gettingStarted.html">Getting Started</a>
		<div class="dropdown">
			<button class="dropbtn">Working with OED &#x25BC</button>
			<div class="dropdown-content">
				<a href="cla.html">Contributor's License agreement (CLA)</a>
				<a href="testData.html">OED Test Data</a>
				<a href="testMap.html">Map test data</a>
				<a href="work.html">Ideas for What to Work On</a>
				<a href="codeDocumentation.html">Code Documentation Guidelines</a>
				<a href="pr.html">Pull Requests</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Code Info & Tech resources &#x25BC</button>
			<div class="dropdown-content">
				<a href="learningTechnologies.html">Technology Learning resources</a>
				<a href="codeOrganization.html">Code Organization</a>
				<a href="technologies.html">Technology Overview</a>
				<a href="testing.html">OED Code Testing</a>:
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Maintain &#x25BC</button>
			<div class="dropdown-content">
				<a href="release.html">OED release steps</a>
			</div>
		</div>
		<a href="devDetails.html">Developer Details</a>
	</div>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<div class="navbar">
			<a href="mailto:developer@OpenEnergyDashboard.org">Email Developer Help or comments on these
				pages</a>
			<a href="https://github.com/OpenEnergyDashboard/OED" target="_blank" rel="noopener noreferrer">GitHub
				Repository</a>
		</div>
		<p>This page is part of the Open Energy Dashboard and is subject to the terms of the Mozilla Public
			License,
			v. 2.0. If a copy of the MPL was not distributed with this file, you can obtain one at <a
				href="https://www.mozilla.org/en-US/MPL/2.0/" rel="nofollow">https://www.mozilla.org/en-US/MPL/2.0/</a>.</p>
	</footer>
</body>

</html>