<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
	<nav>
		<ul>
			<li><a href="../index.html"> <img id="logo" alt="OED logo" src="../images/logo.png" /></a></li>
			<li><a href="../index.html">OED Website</a></li>
			<li><a href="general.html">General Help</a></li>
			<li><a href="metersAndGroups.html">Meters/Groups Help</a></li>
			<li><a href="graphs.html">Graph Type Help</a></li>
			<li><a href="graphing.html">Graphing Help</a></li>
			<li><a href="admins.html">Admin Help</a></li>
		</ul>
	</nav>
	<p>These pages are under active development and will continue to be as we integrate help into OED version 0.7.</p>
	<div class="container">{{ content }}</div>
	<!-- /.container -->
	<footer>
		<nav>
			<ul>
				<li><a href="mailto:help@OpenEnergyDashboard.org">Email</a></li>
				<li><a href="https://github.com/OpenEnergyDashboard/OED" target="_blank"
						rel="noopener noreferrer">GitHub
						Repository</a></li>
			</ul>
		</nav>
		<p>This page is part of the Open Energy Dashboard and is subject to the terms of the Mozilla Public License,
			v. 2.0. If a copy of the MPL was not distributed with this file, you can obtain one at <a
				href="http://mozilla.org/MPL/2.0/" rel="nofollow">http://mozilla.org/MPL/2.0/</a>.</p>
	</footer>
</body>

</html>