---
layout: page-fullwidth
title: Units & Conversions
meta_title: "Units & Conversion Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : Admin
helpCategory : "Information"
helpDescription : "This provides more extensive information about units and conversions in OED and how to set them up
for a site."
---
<div class="row">
    {% include_relative _version %}
    {% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
    <div class="medium-8 medium-pull-4 columns" markdown="1">
        <!-- Page content -->
        <p>This page assumes that one has an understanding of the general <a href="../conversionsUnits/">conversion and
                units</a> information. It also uses the <a href="../exampleDescription/">documentation examples</a>.</p>

        <h2>Why are there meter units?</h2>
        <p> The need for meter units can be seen from the Electric_Utility and Electric_Solar meter units. In the
            example,
            both meter units collect in kWh so the conversion from the meter unit to the kWh unit has a slope of one and
            intercept of zero (identity conversion). This is common because you normally have the collection unit as one
            of
            the units in OED. Thus, when working with energy, OED first converts to kWh which does not change the value.
            All
            energy units that are compatible can now be converted to and graphed.</p>
        <p>The Electric_Utility and Electric_Solar meter units also have conversions to kg of CO<sub>2</sub> and US $.
            This
            allows graphing of carbon dioxide and money. It is normal for a site to assign different rates (conversions)
            for
            the amount of carbon dioxide and cost for energy used from a utility vs. what comes from a solar field. The
            existence of the different meter units allows for different conversions to these values while allowing for
            the
            identity conversion for kWh.</p>
        <p>Because OED ultimately only graphs meter related data, OED only finds chained conversions from meter units to
            non-meter units (type unit and suffix). This is mentioned to better understand how OED analyzes all the
            units
            and conversions to find compatible units and display items in dropdown menus.</p>
        <p>While meter units are important to how OED works with meter data, they are never directly shown to users of
            the
            site while graphing data. Rather, users are shown the compatible graphic units for the selected meter(s). As
            such,
            general users of an OED site are unaware and have no interest in meter units.</p>
        <p>In less common circumstances, a non-identity conversion may be used as the primary one for the meter unit.
            One
            example is when a site wants to do a conversion before putting it into the OED unit. Normally, the unit is
            added
            to OED but in special circumstances the site may not wish to do that. A second example is if the meter is
            misreading values and the site wishes to scale it up or down to correct this misreading. There may be other
            uses
            for non-identity conversions and they can be used as desired.</p>

        <h2>Meters measuring in different units</h2>
        <p>The example shows two gas meter units that measure in different units. This can happen at sites because the
            hardware collects data in different units at different locations. While it would be possible to convert the
            values of one meter into the other unit before storing it in OED, this would mean that OED did not have the
            original meter data and extra work would need to be done. Thus, sites will probably prefer to directly
            collect
            the meter data to preserve it and to allow for easier collection of meter data. In the example, there are
            gas
            meters for BTU and m<sup>3</sup> of gas that are both energy units.</p>
        <p>To show the capabilities of OED, suppose the site also had a meter unit for gas that converts to US $ (so it
            collect in that unit and has the identity conversion). This data might come directly from the utility and be
            more accurate than a price conversion associated with the BTU of gas because it can include fixed cost and
            varying cost over time. If desired, the site could then create a conversion from this new gas meter unit for
            US
            $ to an
            energy unit to also display as energy usage.This might be done because a site only has the cost values and
            must
            indirectly determine the actual gas usage in energy.</p>

        <h2>Site defined units/conversions</h2>
        <p>A site can define any units and conversions it desires. For example, a site could define a unit for the local
            currency and then define conversions between different meter units to represent its cost. It is also
            possible to
            create unique units at a site that are not commonly used but desired. For example, a site could define an
            energy
            unit that is equivalent to doing one load of laundry and define conversions between energy units and this
            unit.
            Then the site would be able to represent the energy usage of these meters in terms of the number of loads of
            equivalent laundry.</p>

        <h2>Different types of units that might seem related</h2>
        <p>Suppose the example was augmented so there is a new volume unit called m<sup>3</sup> that has a conversion to
            gallon. The example already has the unit of M<sup>3</sup> of gas. While these may seem related, the latter
            unit
            has a conversion to other energy units and is a type of energy. OED allows the two types of volume units
            where
            one measures volume and one measures energy. It is important to give them names that clearly identify what
            they
            represent and only include appropriate conversions. A conversion between energy and volume units for this
            case
            should not be permitted. There are other examples where this may happen and OED will handle them correctly
            if
            set up properly.</p>

        <h2>Undesirable groups</h2>
        <p>Suppose the example was augmented so there was a gasoline meter unit that had a conversion to gallon. The
            idea is
            that one is measuring volume (not energy) of gasoline used. If the site created a group that included a
            gasoline meter and a water meter then it could be graphed to show the total volume consumed. However, it
            isn't
            likely that one wants to combine these two different volume units. Thus, one should only put meters into a
            group
            that make logical sense to combine together.</p>

        <h2>Data from multiple meters</h2>
        <p>In some circumstances, data to be graphed comes from multiple meters that are combined to create the desired
            information. This differs from the normal aggregation done by a group since the value collected by the meter
            must be converted before it is added to the other meter(s). It may be possible to get the desired result by
            creating a new type of meter unit that has a conversion to another unit that does not have a slope of one.
            Then,
            the different meters could be combined into a group to get the desired value. If you want assistance for
            this
            case then please <a href="/contact/">contact us</a>.</p>

        <h2>Non-linear data</h2>
        <p>OED only supports linear conversions. If you have the need to do a nonlinear transformation, e.g., energy
            from
            steam that combines temperature, pressure and volume, then OED cannot directly do this. It could be done by
            preprocessing the data into the desired unit, e.g., energy, and then send that data to OED as meter data. It
            is
            also possible to create a new type of data acquisition for OED that would properly process the data. If you
            want
            assistance for this case then please <a href="/contact/">contact us</a>.</p>
    </div>
</div>
