---
layout: page-fullwidth
title:  Group
meta_title: "Group Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : Admin
helpCategory : "Site Management"
helpDescription : "Describes how to view groups."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
    {% include adminInfo.html %}
	
	<h2 id="overview">Overview</h2>
	<p>The admin group viewing page allows admin users to see all information on groups on an OED site. It is
		accessed from
		the <a href="../pageChoices/">"Pages" dropdown menu</a> by clicking "Groups" as shown in the following
		figure (highlighted in the blue
		rectangle where "Groups" is grayed out since it has already been clicked). This page also allows admins to
		<a href="../adminGroupCreating/">create</a> and <a href="../adminGroupEditing/">edit</a>
		groups. Admins will see more information than the typical user
		as shown in the next figure and described below.
	</p>
	<img alt="Admin group viewing page" src="../images/adminGroupViewingPage.png">
	<p>All information shown on this page is based upon the <a href="../exampleDescription/">help example</a>.</p>

	<h2 id="usage">Usage</h2>
	<p>As shown in the figure above, each group has its own card to show information about that group. The
		cards are arranged alphabetically from left to right and top to bottom by the group's name.
		Each card contains the following information:</p>
	<ol>
		<li>Group name in the blue area.</li>
		<li>Default Graphic Unit. This tells the <a href="../graphingUnits/">graphing unit</a> used if one is not
			already selected before this group is chosen.</li>
		<li>Displayable. This controls whether regular users can see a group and graph it. It is "yes" in green if
			everyone can see/graph this group and "no" in red if only admins can see/graph this group.
		<li>Note. This may give additional information about the group supplied from the
			admin. Only the first 30 characters will be shown and any additional characters in the note can be seen by
			clicking the "Edit Group" button.</li>
		<li>Edit Group button. Clicking this button allows one to see any additional information on this group
			and to <a href="../adminGroupEditing/">edit the values associated with this group</a>.</li>
	</ol>
	<p>In addition, there is a "Create a Group" button near the top of the page that allows one to <a
			href="../adminGroupCreating/">create a new group</a>.</p>

	<h2 id="details">Details</h2>
	<p>None</p>
</div>
