---
layout: page-fullwidth
title: Data Acquisition
meta_title: "Data Acquisition Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: Admin
helpCategory: "Data Acquisition"
helpDescription: "Overviews the types of meters supported and how to control them in OED. This includes uploading
meters or readings via a CSV file."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion helpType=admin %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		{% include adminInfo.html %}

		<h2 id="overview">Overview</h2>
		<p>The OED system stores and works with readings. These are normally thought of as meter readings but can come
			from
			any source. OED has a standard way to acquire these readings but also provides software that can take
			readings
			from other sources and manipulate them to fit our model of how readings should come to OED. This allows for
			sites to directly acquire readings from a number of sources. At the current time OED has systems in place to
			automatically acquire data from CSV files, eGauge meters, Obvius AcquiSuite and MAMAC meters. These are
			described below. Note
			that it is possible to do this for other meter
			systems. We are willing to either work with you (or another party) to create the needed code or, if it
			seems appropriate, create this code for a new type of device. Please <a href="/contact/">contact us</a>
			if that is of interest.</p>

		<h2 id="usage">Usage</h2>
		<h3>CSV</h3>
		<p>The standard way OED acquires information about meters and readings is via information in CSV files. Data
			passed
			in this way goes through the standard data acquisition pipeline where it is checked for a number of possible
			errors/issues before being added into the OED system. The other acquisition types supported in the following
			sections are filters that process the data supplied in these vendor's format
			and convert it into the canonical CSV format that OED expects for standard processing. The details for
			uploading
			a CSV file into OED are described
			on the <a href="../adminCsvImport/">admin CSV Import page</a>.</p>

		<h3>eGauge</h3>
		<p><a href="https://www.egauge.net/" rel="noopener noreferrer">eGauge meters</a> are hardware devices that
			collect
			electricity usage. OED can acquire eGauge meter data as described <a href="../adminEgauge/">here</a>.</p>

		<h3>Obvius</h3>
		<p><a href="http://www.obvius.com/" rel="noopener noreferrer">Obvius
				AcquiSuite</a> acquires meter data using Obvius hardware for a large number of metering devices. The
			system
			has the ability to provide this data to other systems. OED uses the push mechanism where AcquiSuite
			periodically
			sends OED this data. As we work with more sites in using Obvius, we plan to provide instructions to let you
			do
			this yourself. For now, please contact us and we will help you through this process.</p>

		<h3>MAMAC meters</h3>
		<p><a href="http://mamacsys.com/" rel="noopener noreferrer">MAMAC meters</a> are hardware devices that collect
			various types of metering data. OED can acquire MAMAC meter data as described <a
				href="../adminMamac/">here</a>.</p>

		<h2 id="details">Details</h2>
		<p>None at this time.</p>
	</div>
</div>
