---
layout: page-fullwidth
title: Conversion & Unit
meta_title: "Conversion & Unit Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : User
helpCategory : "Information"
helpDescription : "Gives additional details on how conversions and units are used within OED."
---
<div class="row">
    {% include_relative _version %}
    {% include help-sidebar OEDVersion=OEDVersion %}
    <div class="medium-8 medium-pull-4 columns" markdown="1">

        <h2>Introduction</h2>
        <p>A unit is a measure of a resource in OED. It corresponds to a unit as in common usage. There are three common
            types of
            units that OED uses:</p>
        <ul>
            <li>Quantity. These are associated with resources measured as an amount and can be created/consumed. Common
                examples include energy
                (kWh, BTU, etc.), mass (kg, lb, etc.), volume (gallon, liter, etc.), money (US dollar, Euro, etc.) and
                CO<sub>2</sub> emitted (kg of CO2<sub>2</sub>, tons of CO<sub>2</sub>).</li>
            <li>Rate. These are associated with the amount/quantity consumed or created per unit of time. Common
                examples
                include
                volume/time (gallon / minute, gallon / day, liters / hour), money / time (dollars / day, e.g., spending
                per
                day) and power (kW).</li>
            <li>Raw (as named by OED). These are not quantities and are not consumed. The common example is temperature
                (Celsius, Fahrenheit).</li>
        </ul>
        <p>A conversion is the link between two units. It creates a linear transformation between two units. For
            example, to
            go from kilograms to grams, one must multiply by 1000 (and technically add 0). To go from Celsius to
            Fahrenheit,
            one must multiply by 9 / 5 and
            then add 32. OED cannot deal with nonlinear conversions/transformations.</p>
        <p>OED uses all the units and conversions in a site to create a complete picture of what units are compatible
            with
            what other
            units. This allows OED to show the allowed/compatible and disallowed/incompatible units when one is graphing
            in
            OED.</p>

        <h2>Unit details</h2>
        <p>OED classifies units in three ways:</p>
        <ul>
            <li>Unit. This is the common meaning of a unit as a measure. It is what OED uses as graphic units.</li>
            <li>Meter. To support a simpler and more efficient system, OED needs to differentiate between graphic units
                (units) and ones associated with a meter. As such, the unit associated with a meter is a meter unit.
                Meter
                units are never directly seen by the user so are displayable of none in their settings.</li>
            <li>Suffix. This is a special unit in OED that allows for the creation of a unit that is also associated
                with
                another unit. For example, if you want to display the quantity of CO<sub>2</sub> then it also needs a
                mass
                unit associated
                with it. Suffix units allow for the easy creation of such units within OED where the <a
                    href="#suffix">details</a> are described
                later. Note that suffix units are used by OED to create these special units but they are never seen by
                typical users as they are converted to other standard units. As such, their displayable is none in their
                settings.</li>
        </ul>
        <p>A unit also has an associated seconds in rate that defines the denominator for a rate unit. If it is not a
            rate
            unit then it has no meaning. The seconds in rate
            can be any positive number but common values are: per second or 1, per minute or 60, per hour or 3600 and
            per
            day or 86,400. This is used to define the rate denominator for a meter unit or when defining a normal unit.
            Note
            one can graph in a different rate per seconds and that is a choice the <a href="../graphingRates/">user can
                make</a>.</p>
        <p>OED allows a site to define any unit it wishes as long as it falls into one of these categories.</p>

        <h2>Conversion details</h2>
        <p>A conversion in OED has a number of attributes:</p>
        <ul>
            <li>Source. This defines the originating unit for the conversion. It is the unit you are converting from.
            </li>
            <li>Destination. This defines the final unit for the conversion. It is the unit you are converting to.</li>
            <li>Bidirectional. This determines if the conversion is invertible. If yes then OED is allowed to invert the
                conversion and go in the opposite direction so that there is the related conversion from destination to
                source. If no then it only goes in one
                direction and will not be inverted. If no then it is ok to put a different conversion from the
                destination
                to the source. It is not only easier to use bidirectional conversions when they are appropriate but they
                are
                slightly easier for OED to deal with.</li>
            <li>Slope. This defines the slope of the linear transformation for this conversion. For example, it is 1000
                for
                kilograms to grams.</li>
            <li>Intercept. This defines the intercept of the linear transformation for this conversion. For example, it
                is
                32 when converting from Celsius to Fahrenheit.</li>
        </ul>
        <p>OED allows a site to define conversions between any pair of unis within its site. However, it is important
            that
            the site follow these rules which OED should enforce:</p>
        <ul>
            <li>There cannot be two different conversions between the same units in the same direction. Thus, a
                conversion
                that
                is bidirectional between two units means those same two units cannot be involved in any other
                conversion. It
                is
                also forbidden to have a one directional conversion between the same pair of units in the same
                direction.
            </li>
            <li>There should never be a conversion between different types/classifications of units. This means that
                units
                should only be between the types of quantity, rate and raw and not between them. The reason for this is
                it
                does
                not make physical sense. It is not normal/rational, for example, to convert between gallons and
                temperature
                within a dashboard.</li>
            <li>A meter unit should only be the source of a conversion. The reason is that a meter directly receives its
                readings so you cannot convert a resource back into a meter.</li>
            <li>A suffix unit should only have bidirectional of no (unidirectional) for a conversion as either the
                source or the destination. The section below on <a href="#suffix">suffix unit</a> will clarify why.</li>
        </ul>

        <h3>Chained conversions</h3>
        <p>To make units easier to work with, OED allows for chained conversions. What this means is that OED will look
            at
            all conversions and determine if there is a chain of allowed conversions between two units. If this is the
            case
            it
            will determine the overall conversion needed and allow a user to use that conversion when graphing. As an
            example, suppose a site has the following conversions between units that are already defined:</p>
        <ul>
            <li>lb ⟷ short ton (often called a ton)</li>
            <li>g ⟷ kg</li>
            <li>kg ⟷ lb</li>
            <li>kg ⟷ metric ton</li>
        </ul>
        <p>The order that the conversions are entered does not matter and that is why they are in a somewhat random
            order above. OED can analyze these conversions to create an overall conversion chain of g ⟷ kg ⟷ metric ton
            ⟷ lb
            ⟷ short
            ton that relates all of these mass units so any one can be converted to any other one. This is done
            automatically when conversions are added to OED. In this example it means any of these mass units could be
            used
            to
            graph any meter that collected in a mass unit for the ones in the example.</p>
        <p>In the case of conversions that only go in one direction, OED will only use that direction for determining
            chains. In the <a href="../adminOedUnits/">standard conversions</a> provided by OED there is a one
            directional conversion of a meter to a graphic unit of
            Electric_Utility → kWh. There are also conversions that are bidirectional for units of kWh ⟷ BTU and BTU ⟷
            m³
            gas. Given these, OED will allow for the following conversions: Electric_Utility → kWh, Electric_Utility →
            BTU,
            Electric_Utility → m³ gas, kWh ⟷ BTU, kWh ⟷ m³ gas and BTU ⟷ m³ gas. This means that the electric utility
            meter
            can
            be converted to any of the energy units but it cannot go the other way. There is a conversion between all
            the
            energy
            units in both directions as desired. From a practical standpoint this means one can graph the meter in any
            energy unit.</p>

        <h2 id="compatible">Compatibility</h2>
        <p>Two items are compatible if there exists a conversion between them. This includes any derived chained
            conversions
            that
            OED determines. Here is the meaning for different items within OED:</p>
        <ul>
            <li>Units. Two units are compatible if there exists a conversion between them.</li>
            <li>Meter and graphing unit. If the meter's unit is compatible with the graphing unit then the meter is
                compatible with the graphing unit.</li>
            <li>Meter with another meter. If the set of units compatible with one meter's unit and the set of meters
                compatible with a different meter's unit contain at least one item in common then the two meters are
                compatible. This is because one can graph both meters in at least one unit and, in general, all the
                common
                values between the two sets of units.</li>
            <li>Group and graphing unit. A group can contain many meters within it. If one takes the set of compatible
                units
                for each meter and finds all the units that exist in all the sets then those are the units compatible
                with
                the
                group. This is because one can graph the group in these units. If the graphing unit is in set of
                overlapping
                units then it is a compatible unit for graphing.</li>
            <li>Group and meter. If the compatible units of the group and meter overlap then they are compatible. All
                the
                units that overlap are all the compatible units.</li>
            <li>Group and group. If the compatible units of both groups contain the same unit then they are compatible.
                All
                the units contained for both groups are all the compatible units.</li>
        </ul>
        <p>See the <a href="#example">example section</a> for concrete examples.</p>

        <h2 id="suffix">Suffix unit</h2>
        <p>As was briefly discussed above, a suffix unit is a special unit in OED that allows for the creation of a unit
            that is also associated with
            another unit. Let's expand by trying to use a suffix unit to display CO<sub>2</sub> as a graphing unit.
            Suppose
            you create the unit kg CO<sub>2</sub> with the suffix of CO<sub>2</sub>. You then create a one way
            conversion to
            kg as kg CO<sub>2</sub> →
            kg were there slope 1 since each is a kg. The conversion is one directional because if you went the other
            way
            you
            could automatically take kg as a mass and convert it to CO<sub>2</sub> and this mixes two types of
            resources. A
            separate
            conversion from a meter reading in kg to CO<sub>2</sub> would cover this case as shown in the example below.
            Now
            create a
            one directional
            conversion from the Electric_Utility
            meter to kg CO<sub>2</sub> as Electric_Utility → kg CO<sub>2</sub> where the slope would be the kg of
            CO<sub>2</sub> produced for each kWh of electricity used. A simple value for a standard electric provider in
            the
            U.S. might be 1.9. Since the unit kg CO<sub>2</sub> has a suffix, OED will handle it specially when
            analyzing
            the
            conversions. In this case, it will create the one directional conversion of Electric_Utility → kg of
            CO<sub>2</sub>.
            Note that OED gives the destination unit a new name based on the unit that
            suffix is linked to (kg) and the suffix (CO<sub>2</sub>) with the word "of" between them. It is
            the logical name that people would say of kg of CO<sub>2</sub>. While OED internally stores the original
            suffix
            unit of kg CO<sub>2</sub>, it will not be seen on the site and users are unaware it exists.</p>
        <p>To show the real power of a suffix unit, suppose the site also had the units and conversions listed in the
            previous
            section for mass (lb, short ton, g, kg, metric ton). In this case, OED would create a new unit and
            conversion
            for
            each of these mass units to yield: Electric_Utility → lb of CO<sub>2</sub>, Electric_Utility → short ton of
            CO<sub>2</sub>, Electric_Utility → g of CO<sub>2</sub>, Electric_Utility → kg of CO<sub>2</sub> and
            Electric_Utility → metric ton of CO<sub>2</sub>. For the user they can now graph the electric usage from
            this
            meter in any of the five mass units even though the admin only linked to one of the units. This is an
            extended example of doing chained conversions that are special within OED. Note OED will add more suffix
            units
            if an
            additional mass unit and conversion is added after the suffix unit was added. Basically, OED will keep the
            site
            up to date for all
            the information it has. If a site does not want all the OED created suffix units to be seen by users then
            the
            admin can <a href="../adminUnitEditing/">edit</a> the created units to change the displayable setting
            appropriately.
        </p>

        <h2 id="example">Example</h2>
        <p>Please see the <a href="../exampleDescription/">example description</a> as it will extended as the current
            example of how OED works with units and conversions. An updated graphic from that page is:</p>
        <img alt="Unit and conversion graphic" src="../images/unitsConversionsSuffix.png">
        <p>where the suffix units are more accurately shown. The light green suffix unit of kg CO<sub>2</sub> is linked
            to
            the OED created ones that are in darker green. Note that as part of this process OED does not use chained
            conversions but a series of direct conversions to the units created. This is unusual but OED will properly
            maintain these individual conversions if changes are made in units and conversions. The conversion from the
            suffix
            unit to the unit given by the site
            is one directional and shown by the dashed black arrow (kg CO<sub>2</sub> → kg). Each rectangle or
            oval represents an
            actual unit on the OED site but the light green one is not visible
            to the user. Each arrow represents an actual conversion on the OED site but all are not visible
            to the user. These are the dotted black line and the pink lines from meters to kg of CO<sub>2</sub> are
            replaced
            by
            links to the ones created by OED for a suffix unit. Thus, each of these pink lines is replaced by 4 lines
            going
            to each of the created suffix units in dark green.
        </p>
        <p>Here are a few things that are consistent with the discussion previously on this page:</p>
        <ul>
            <li>The meters (in blue rectangles) only have one directional arrows that originate from the meter. This is
                required by OED.</li>
            <li>The orange ovals represent standard units that can also be used for graphing within OED. They all have
                bidirectional conversions between them and this is common but not required.</li>
            <li>Each blue arrow connects a meter to its collection unit (which is also an allowed graphic unit). There
                is
                only
                one such arrow from each meter and there is always an arrow because otherwise the meter cannot be
                graphed
                within
                OED. The meter collection unit is specified with each meter's information.</li>
            <li>The pink arrows represent other units to which the meter is connected and can convert. There are two
                types
                of
                these connections. The first is to a normal unit and then OED allows the user to graph in this unit. For
                example, many meters are connected to US $ so the values from these meters can be graphed in U.S.
                dollars.
                Each arrow
                has a different conversion so the cost for each meter can reflect its unique cost at the site. The
                second is
                to
                connect to a suffix unit as was <a href="#suffix">described above</a>. The actual graphic units for the
                suffix
                units (created by OED) can be seen by the connected one directional dark green arrows. In this example
                these
                all
                relate to the suffix unit of kg CO<sub>2</sub> (in light green). As described above, the dashed, one
                directional, black arrow represents the original conversion relating to the suffix unit. The user only
                sees
                the dark green units
                when trying to
                graph within OED.</li>
            <li>The bidirectional, solid black arrows represent conversion between standard units that can also be used
                as a
                graph
                unit within OED.</li>
        </ul>
        <p>Here are a few examples of what a figure means.</p>
        <ul>
            <li>kWh, BTU and m<sup>3</sup> gas are all compatible units.</li>
            <li>The Electric_Solar meter (actually formally a unit) collects in kWh and can also be graphed (compatible)
                in
                BTU, m<sup>3</sup>
                gas, US
                $ and the
                suffix units of kg of CO<sub>2</sub>, lb of CO<sub>2</sub>, Metric ton of CO<sub>2</sub> and ton of
                CO<sub>2</sub>. An example is the Great Dorm 1st Floor Electric meter.</li>
            <li>The Temperature_Fahrenheit meter unit collects in Fahrenheit and can also be graphed (compatible) in
                Celsius. An example is the Library Temperature meter.
            </li>
            <li>The Recycling meter (actually formally a unit) collects in ton and can also be graphed (compatible) in
                lb,
                kg, US $ and the
                suffix units of kg of CO<sub>2</sub>, lb of CO<sub>2</sub>, Metric ton of CO<sub>2</sub> and ton of
                CO<sub>2</sub>. Note that even though there are mass units associated with the collection amount and
                CO<sub>2</sub> OED will keep them separate and graph them correctly. An example is the Campus Recycling
                meter.</li>
            <li>The Electric kW meter (actually formally a unit) collects in kW and can only be graphed in this unit (no
                other compatible units). An
                example is the Theater Electric Power meter.</li>
        </ul>
        <p>Note that this site could have many meters using the Electric_Utility meter unit. This makes the site easier
            to
            maintain and more efficient. This is true for any meter unit defined.</p>
        <p>Using the groups from the example, the following compatibilities are derived:</p>
        <ul>
            <li>Campus Electric group is compatible with kWh, BTU, m<sup>3</sup> gas, US
                $ and the suffix units of kg of CO<sub>2</sub>, lb of CO<sub>2</sub>, Metric ton of CO<sub>2</sub> and
                ton
                of
                CO<sub>2</sub> because all the underlying meters have the same compatibility. Campus Energy group is the
                same.</li>
            <li>Campus All group is compatible with US
                $ and the suffix units of kg of CO<sub>2</sub>, lb of CO<sub>2</sub>, Metric ton of CO<sub>2</sub> and
                ton
                of
                CO<sub>2</sub> because it includes energy and water meters.</li>
        </ul>
    </div>
</div>
