---
layout: page-fullwidth
title: Examples
meta_title: "Examples Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : User
helpCategory : "Information"
helpDescription : "Describes the example data used in the documentation pages."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">
		<p>The following gives a description of the sample data that was used to create the documentation examples. It gives both
			a
			high-level description and the details. It assumes you understand the ideas and terminology of <a
				href="../graphingUnits/">units</a>, <a href="../graphingMeters/">meters</a> and <a
				href="../graphingGroups/">groups.</a>. For those interested, more details about <a
				href="../conversionsUnits/">conversions and units</a> is available.
		</p>

		<h2 id="units">Units</h2>
		<p>The units (and conversions) are described graphically in this figure:</p>
		<img alt="Unit and conversion graphic" src="../images/unitsConversions.png">
		<p>For now, ignore the arrows that describe the conversions. The different items are labeled as follows:</p>
		<ul>
			<li>Blue boxes represent meter units</li>
			<li>Orange ovals represent a unit for graphing (graphing unit)</li>
		</ul>
		<p>All units are of type quantity except these:</p>
		<ul>
			<li>kW and Electric_kW are flow units</li>
			<li>Fahrenheit, Celsius, Temperature_Fahrenheit and Temperature_Celsius are raw units</li>
		</ul>
		<p>Why these units exist will be described on other documentation pages.</p>

		<h2 id="conversions">Conversions</h2>
		<p>The conversions linking the units in the example are shown as arrows in the figure above. The actual value of
			the
			conversion is not shown. The different items are labeled as follows:</p>
		<ul>
			<li>A line represents a conversion between two units. The arrow indicates which direction or directions are
				allowed. If the line has arrows in both directions then it is bidirectional meaning you can convert
				either
				way. The line between kg and lb is this way which means OED will convert from kg to lb and lb to kg. A
				line
				with only one arrow is unidirectional. The line between Recycling and ton is this way. As such, you can
				convert from Recycling to ton but not the other way around.</li>
			<li>A blue line links a meter (in blue) to the unit in which it collects (in orange). For example, the
				Electric_Utility meter unit is connected to the kWh unit which is a standard electric energy unit. The
				Electric_Solar meter unit is also connected to the kWh unit as it also collects in this unit. There are
				also
				times that the same type of energy source may have meters that collect in different units. This is shown
				by
				Natural_Gas_BTU and Natural_Gas_M3 which are both gas meters but they collect in BTU and cubic meters of
				gas, respectively. Note that these conversions only have an arrow from the meter unit to the graphing
				unit
				since OED will only convert data in that direction. As is common, all the conversion values along blue
				lines
				are the identity and do not change the value because the meter collects in the connected unit.</li>
			<li>A pink line is similar to a blue line but represents a conversion that allows one to graph the meter
				data in the linked unit.</li>
			<li>A black line links two units (not of type meter). As would be expected, these are all bidirectional
				since
				you can, in general, convert both way. In the example, you can convert from ton to lb and lb to ton.
			</li>
		</ul>
		<p>OED can do what it calls chained conversions. This means that any unit that can be reached via an arrow in
			the
			allowed direction can be used for graphing a meter unit. For example, the Recycling meter unit can be
			graphed in
			kg because there is a chain of conversions from Recycling to ton, ton to lb and lb to kg. Given this, OED
			can
			calculate the overall conversion from Recycling to kg. Note the unidirectional arrows stop undesirable
			conversions such as converting kg of CO<sub>2</sub> to meter units such as Electric_Utility. You cannot use
			CO<sub>2</sub> to create electricity.</p>
		<p>The follow table gives the details on each interesting conversion. A conversion is defined by the source,
			destination, slope
			and intercept. The row with source of Electric_Utility, destination of US $, slope of 0.115 and intercept of
			0
			means that each kWh of electricity costs 0.115 U.S. dollars or 11.5 cents. Most conversions have an
			intercept of
			0 but
			temperature is the exception in this example. The table also indicates if the conversion is bidirectional.
			The
			conversion from a meter to its unit of collection (blue, unidirectional arrows) are all slope of 1,
			intercept of
			0 and bidirectional of No so are not listed. The values are meant to be reasonable for each quantity;
			clearly
			different locations and times will have different values.</p>
		<table>
			<thead>
				<tr>
					<th>Source</th>
					<th>Destination</th>
					<th>Slope</th>
					<th>Intercept</th>
					<th>Bidirectional?</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Electric_Utility</td>
					<td>US $</td>
					<td>0.115</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Electric_Utility</td>
					<td>kg of CO₂</td>
					<td>0.709</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Electric_Solar</td>
					<td>US $</td>
					<td>0.7</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Electric_Solar</td>
					<td>kg of CO₂</td>
					<td>0</td>
					<td>0</td>
					<td>No</td>
					<td>Assumes solar has no incremental CO<sub>2</sub></td>
				</tr>
				<tr>
					<td>Natural_Gas_BTU</td>
					<td>US $</td>
					<td>6.75 x 10<sup>-6</sup></td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Natural_Gas_BTU</td>
					<td>kg of CO₂</td>
					<td>5.29 x 10<sup>-5</sup></td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Natural_Gas_M3</td>
					<td>US $</td>
					<td>0.25</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Natural_Gas_M3</td>
					<td>kg of CO₂</td>
					<td>1.94</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Water_Gallon</td>
					<td>kg of CO₂</td>
					<td>0.0012</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Water_Gallon</td>
					<td>US $</td>
					<td>0.011</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Water_Liter</td>
					<td>kg of CO₂</td>
					<td>0.00031</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Water_Liter</td>
					<td>US $</td>
					<td>0.00291</td>
					<td>0</td>
					<td>No</td>
					<td></td>
				</tr>
				<tr>
					<td>Recycling</td>
					<td>kg of CO₂</td>
					<td>-2890</td>
					<td>0</td>
					<td>No</td>
					<td>This is CO<sub>2</sub> saved from not going to trash and not the net created.</td>
				</tr>
				<tr>
					<td>Recycling</td>
					<td>US $</td>
					<td>0</td>
					<td>0</td>
					<td>No</td>
					<td>Assumes recycling is free.</td>
				</tr>
				<tr>
					<td>liter</td>
					<td>gallon</td>
					<td>0.2641729</td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>kg</td>
					<td>lb</td>
					<td>2.2</td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>ton</td>
					<td>lb</td>
					<td>2000</td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>kWh</td>
					<td>BTU</td>
					<td>3412.142</td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>BTU</td>
					<td>m<sup>3</sup> gas</td>
					<td>2.73 x 10<sup>-5</sup></td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>kg</td>
					<td>metric ton</td>
					<td>0.001</td>
					<td>0</td>
					<td>Yes</td>
					<td></td>
				</tr>
				<tr>
					<td>Celsius</td>
					<td>Fahrenheit</td>
					<td>1.8</td>
					<td>32</td>
					<td>Yes</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<p>The value for the example chained conversion above (Recycling to kg) is worked out as follows (all intercepts
			are
			0):</p>
		<ol>
			<li>Recycling to ton has a conversion of slope = 1 which indicates that the quantity of recycling is
				provided in
				the unit of ton.</li>
			<li>ton to lb has a conversion of 2000 so the total conversion is 1 x 2000 = 2000.</li>
			<li>lb to kg has a conversion of 1 / 2.2 because the provided conversion is kg to lb so it must be inverted.
				This gives a final conversion of 2000 / 2.2 = 909.09. Thus, 1 ton of recycling is the same as 909.09 kg
				of
				recycling.</li>
		</ol>
		<p>Note that units are incompatible if they are not connected by any direct or chained conversion. For example,
			if
			you have a meter collecting in Electric_Utility units then it can be graphed in these compatible units: kWh,
			BTU, m<sup>3</sup> gas, kg
			of CO<sub>2</sub>, lb of CO<sub>2</sub>, metric ton of CO<sub>2</sub>, ton of CO<sub>2</sub> and US $. All
			other
			units are incompatible so you cannot display that meter in
			liter, gallon, kW, Fahrenheit, Celsius, kg, lb nor ton.
		</p>

		<h2 id="meters">Meters</h2>
		<p>The meters and groups in the example are showing in the following figure. For now we will ignore the groups.
		</p>
		<img alt="Meter and group graphic" src="../images/metersGroupsHeirarchy.png">
		<p>The meters are on the left-hand side of the image in the blue rectangles. The beginning of the meter name is
			the
			building it is associated with: Library, Dining Hall, Theater or Great Dorm. The exception is "Campus
			Recycling"
			which is a campus-wide meter and not associated with a building. It is also unique because this type of data
			would normally be manually entered into OED and not received from a automated meter. All meters collect for
			its
			entire building except the electric meters for "Great Dorm" which has separate meters for the first and
			second
			floor of the building.</p>
		<p>The following table gives information about the meters. The headers for the columns indicate it contains this
			information:</p>
		<ul>
			<li>Name: Is the name of the meter shown in OED and in the figures.</li>
			<li>Unit: The first part is the meter unit that the meter collects data in and the second is the associated
				graphic unit. This association can be seen in the image above by the blue arrows from the blue meter
				unit to
				the orange graphic unit.</li>
			<li>Default graphing unit: This is the graphic unit that OED will use if a unit has yet to be selected.</li>
			<li>Area: This is the size of the building associated with the meter. If it is blank then there is no value.
				All
				meters in the example use square meters for the area. Some meters do not have an area. This could be
				because
				it was not provided for this
				sample site or it does not make sense such as for "Campus Recycling".</li>
			<li>Reading frequency: This is the time that each reading spans for this meter. For example, a value of 1
				hour
				means each reading given to OED should be for 1 hour of use. This value impacts the accuracy of points
				returned in the line graphic.</li>
			<li>Note: Any needed descriptive information.</li>
		</ul>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Unit</th>
					<th>Default graphic unit</th>
					<th>Area</th>
					<th>Reading frequency</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dining Hall Electric</td>
					<td>Electric_Utility / kWh</td>
					<td>kWh</td>
					<td>1,000</td>
					<td>15 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Dining Hall Gas</td>
					<td>Natural_Gas_BTU / BTU</td>
					<td>BTU</td>
					<td>1,000</td>
					<td>15 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Dining Hall Water</td>
					<td>Water_Gallon / gallon</td>
					<td>gallon</td>
					<td>1,000</td>
					<td>1 hour</td>
					<td></td>
				</tr>
				<tr>
					<td>Dining Hall Electric Power</td>
					<td>Electric_kW / kW</td>
					<td>kW</td>
					<td>1,000</td>
					<td>5 minutes</td>
					<td>Note that all Power meters are kW (not kWh). The meter reads at a highest frequency.</td>
				</tr>
				<tr>
					<td>Theater Electric</td>
					<td>Electric_Utility / kWh</td>
					<td>kWh</td>
					<td>10,000</td>
					<td>20 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Theater Gas</td>
					<td>Natural_Gas_M3 / m<sup>3</sup> gas</td>
					<td>BTU</td>
					<td>10,000</td>
					<td>20 minutes</td>
					<td>Note that the default graphic unit differs from the meter unit.</td>
				</tr>
				<tr>
					<td>Theater Electric Power</td>
					<td>Electric_kW / kW</td>
					<td>kW</td>
					<td>10,000</td>
					<td>20 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Theater Temperature</td>
					<td>Temperature_Celsius / kWh</td>
					<td>Fahrenheit</td>
					<td></td>
					<td>20 minutes</td>
					<td>Note that the default graphic unit differs from the meter unit.</td>
				</tr>
				<tr>
					<td>Library Electric</td>
					<td>Electric_Utility / kWh</td>
					<td>kWh</td>
					<td>100,000</td>
					<td>23 minutes</td>
					<td>This is an unusual reading frequency but shows OED can handle it.</td>
				</tr>
				<tr>
					<td>Library Temperature</td>
					<td>Temperature_Fahrenheit / Fahrenheit</td>
					<td>Fahrenheit</td>
					<td></td>
					<td>20 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Great Dorm 1st Floor Electric</td>
					<td>Electric_Solar / kWh</td>
					<td>kWh</td>
					<td>5,000</td>
					<td>20 minutes</td>
					<td>Only the first floor of a two story building and half the area. Note it gets electricity from
						solar.
				</tr>
				<tr>
					<td>Great Dorm 2nd Floor Electric</td>
					<td>Electric_Solar / kWh</td>
					<td>kWh</td>
					<td>5,000</td>
					<td>20 minutes</td>
					<td>Only the second floor of a two story building and half the area. Note it gets electricity from
						solar.
				</tr>
				<tr>
					<td>Great Dorm Gas</td>
					<td>Natural_Gas_BTU / BTU</td>
					<td>BTU</td>
					<td>10,000</td>
					<td>20 minutes</td>
					<td></td>
				</tr>
				<tr>
					<td>Great Dorm Water</td>
					<td>Water_Liter / liter</td>
					<td>gallon</td>
					<td>10,000</td>
					<td>15 minutes</td>
					<td>Note that the default graphic unit differs from the meter unit. Also, water is read at a
						different
						frequency than other meters in this building.</td>
				</tr>
				<tr>
					<td>Campus Recycling</td>
					<td>Recycling / ton</td>
					<td>lb</td>
					<td></td>
					<td>7 days</td>
					<td>Note that the default graphic unit differs from the meter unit. Also, the reading frequency is
						very
						low because it is entered manually but OED can deal with that.</td>
				</tr>
			</tbody>
		</table>
		<h2 id="Groups">groups</h2>
		<p>The figure above has the groups shown in the yellow rectangles. A line from a meter to a group indicates that
			the
			meter is a member of the group. A line from a group to a group indicates the group on the left is a member
			of
			the group on the right. Each group shows all of its members with the same color line. For example, "Dinning
			Hall
			All" contains the meter "Dining Hall Water" and the group "Dining Hall Energy" where they are connected by a
			pink line.</p>
		<p>As an example shown another way, the "Campus Gas" group can be visualized similarly to the map shown in OED
			as in
			the following figure that shows
			it includes "Dining Hall Gas", "Theater Gas" and "Great Dorm Gas" meters.</p>
		<img alt="Campus Gas group graphic" src="../images/campusGas.png">
		<p>As another example, the "Campus Electric" group can be visualized as in the
			following figure that shows
			it includes "Library Electric", "Dining Hall Electric" and "Theater Electric" meters along with the "Great
			Dorm
			Electric" group.</p>
		<img alt="Campus Electric group graphic" src="../images/campusElectric.png">
		<p>The following table gives information about the groups where the headers indicate similar information as the
			meter equivalent.</p>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Default graphic unit</th>
					<th>Area</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dining Hall Energy</td>
					<td>kWh</td>
					<td>1,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Dining Hall All</td>
					<td>ton of CO₂</td>
					<td>1,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Theater Energy</td>
					<td>kWh</td>
					<td>10,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Theater All</td>
					<td>ton of CO₂</td>
					<td>10,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Dining & Theater Electric Power</td>
					<td>kW</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Library Energy</td>
					<td>kWh</td>
					<td>10,0000</td>
					<td></td>
				</tr>
				<tr>
					<td>Great Dorm Electric</td>
					<td>kWh</td>
					<td>10,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Great Dorm Energy</td>
					<td>kWh</td>
					<td>10,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Great Dorm All</td>
					<td>ton of CO₂</td>
					<td>10,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Campus Electric</td>
					<td>kWh</td>
					<td>121,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Campus Gas</td>
					<td>BTU</td>
					<td>121,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Campus Energy</td>
					<td>kWh</td>
					<td>121,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Campus All</td>
					<td>ton of CO₂</td>
					<td>121,000</td>
					<td></td>
				</tr>
				<tr>
					<td>Campus All - Another</td>
					<td>ton of CO₂</td>
					<td>121,000</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
