---
layout: page-fullwidth
title: Home
meta_title: "Home Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : User
helpCategory : "Navigation"
helpDescription : "Describes how to return to the main (graphic) OED page."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>The page where you can view OED graphics is considered the home page. There are several ways to get there.
		</p>

		<h2 id="usage">Usage</h2>
		<p>The following figure shows two ways to get to the home page highlighted in blue boxes. In the top right,
			corner one can
			click the "Graph" choice to get to the home page. As shown in the figure, if you are already on the home
			page then this is
			shown grayed out and will have no action. Another way is to click the OED light bulb logo in the top, left
			corner
			of a page. Clicking the logo when you are already on the home page has no effect.</p>
		<img alt="options to get the OED home page" src="../images/home.png">

		<h2 id="details">Details</h2>
		<p>The home page allows for several actions including:</p>
		<ul>
			<li>Selecting <a href="../graphType/">graphic</a> shown</li>
			<li>Selecting the <a href="../graphingGroups/">groups</a> displayed</li>
			<li>Selecting the <a href="../graphingMeters/">meters</a> displayed</li>
			<li>Selecting the <a href="../graphingUnits/">unit</a> displayed</li>
			<li>Selecting the <a href="../graphingRates/">rate</a> displayed (for some units)</li>
			<li><a href="../export/">exporting graph or meter data</a> (for some graph types)</li>
			<li>Getting a <a href="../chartLink/">chart link</a> to recreate the graphic in the future</li>
			<li>Selecting <a href="../pageChoices/"> OED pages</a></li>
			<li>Selecting the <a href="optionsMenu.html">language, hide/show options & log in/out</a></li>
			<li>"Help" choice (top, right) to go to the OED documentation pages</li>
		</ul>
	</div>
</div>
