---
layout: page-fullwidth
title: Map Graphic
meta_title: "Map Graphic Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType : User
helpCategory : "Graphing"
helpDescription : "Describes how the map graphic works."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>The map graphic gives a spatial representation of energy usage. Typically a simplified map of buildings and
			any
			important landmarks is used as the image for a map. A circle is placed on the map for each graphed item
			where
			the size of the circle represents its usage. An OED site can have as many maps as it wishes. To get this
			graphic, one clicks the "Map" choice (highlighted with a blue box in the next figure). This is a simple map
			with
			a few buildings
			where the electric usage is given for "Dining Hall" ("Dining Hall Electric" meter), "Great Dorm" ("Great
			Dorm
			Electric" group) and "Theater" ("Theater Electric" meter). (<a href="../exampleDescription/">information on
				example data</a>) Note
			that there are hover items as with other graphics where on a map this shows the time range, the meter/group
			name
			and its usage. As the
			size of the circles show, the "Dining Hall" and "Theater" used similar amounts of energy and the "Library"
			used
			less.</p>
		<img alt="sample map graphic for Mseveral buildig's electic usage" src="../images/mapGraphic.png">

		<h2 id="usage">Usage</h2>
		<p>One the map page, one can select the map one wants to use. One does this by clicking the
			dropdown menu for "Maps" and clicking the one wanted (highlighted with a blue box in the next figure). This
			is very similar to what one does for a "Meter:" or "Group:". Note that if there is only one map then OED
			will
			automatically select it. Once a map is selected, it will
			appear in the graphic. If one already has meters/groups
			selected that can be shown on the map then they will immediately appear. (See below for more on selecting
			meters/groups.)</p>
		<img alt="selecting map" src="../images/mapSelection.png">
		<p>One selects the <a href="../graphingMeters/">meters</a> or <a href="../graphingGroups/">groups</a> to graph
			in the usual way. OED will display
			each meter/group as an individual circle as shown in the figure above. One can select
			the <a href="../graphingUnits/">units</a>, <a href="../areaNormalization/">area normalization</a> and <a
				href="../chartLink/">chart link</a> as usual. In some cases the meter/group cannot be placed
			on the map. This happens when its GPS coordinates do not lie within the map. Note that a meter/group without
			GPS
			coordinates provided by the site can never be placed on any map. There is a separation label of
			"-----Incompatible
			Meters-----" or "-----Incompatible
			Groups-----" and these meters/groups are shown grayed out so they cannot be selected. Meters/groups can be
			placed in
			this section of the dropdown menu for other reasons such as incompatible units but that is not different
			than
			other graphics. In the
			following
			figure, "Campus Electric" and "Campus Energy" are at the start of the incompatible groups (highlighted with
			blue
			box) since they cannot be shown on the map. Additional groups could be seen by scrolling farther down this
			list.
		</p>
		<img alt="incompatible groups that cannot be shown on map" src="../images/mapIncompatibleGroups.png">

		<p>The circle represents the average daily usage over the time range chosen in the "Map Interval". The allowed
			time
			ranges are "Day", "Week" and "4 Weeks" and highlighted in blue in the next figure. In this figure, the "Day"
			choice was selected and note that the circle sizes differ from the first figure since the relative usage is
			different for one day than 4 weeks. These time ranges are the same selections
			as on a bar graph. A selection on either
			the bar or map page impacts the other graphic. Note that there is no slider on the map page (this should
			change
			in
			the future), however, changes to the slider on the bar graphic page does change the time range on the map
			graphic.
			The
			value shown on the map is the same as on the <a href="../barGraphic/#barRange">last bar shown in the bar
				graphic</a> except divided by the number of
			days for the time range. As with bar graphics, the range of dates correspond to the <a
				href="../lineGraphic/#scrollZoom">ones chosen and shown on the line
				graphic</a>. Note that the time range is considered the full time (not just
			the zoomed in time) so you will see that unless one redraws to reduce the time range. </p>
		<img alt="three allowed time ranges for map graphics" src="../images/mapTimeFrames.png">

		<p>If a site has multiple maps that lie in different geographical locations, then a meter/group grayed out on
			one
			map
			might be displayable on another. Also, if one is on a different graphic type and are displaying a
			meter/group
			that
			cannot be shown on the map then it will not appear on the map and be grayed out on the "Meters"/"Groups"
			list.
			If one
			returns to another graphic, the meter/group will appear again since it can be shown.</p>

		<h2 id="details">Details</h2>

		<h3>Map circle colors</h3>
		<p>OED consistently uses the same color for a meter/group across all graphic representations (except compare).
			The
			map graph may seem
			to have a lighter shade of color than the other graphics. This is due to making the circle partly
			transparent so
			one can see the underlying map image. If one looks at the color of the rectangle that pops up when one
			hovers
			over a map circle, one will see it is the same as the color used for this item in other graphics.</p>

		<h3>Map circle size</h3>
		<p>The size of a circle is based on its area (not the diameter) so the circle area scales with usage. This was
			chosen since
			a study indicated that area is the better choice for user perception.</p>
		<p>OED makes the circle size be from an internally set minimum and maximum size so that it ranges within a set
			percentage of the map size. Note this has a couple of important implications:</p>
		<ul>
			<li>The size of circles can change as one selects new items to place on the map. This only happens if a new
				item
				has greater usage than any previously chosen item. This occurs because OED makes the item with the
				highest
				usage have the maximum size allowed and scales all the other items appropriately. This allows circles to
				be
				as large as possible.</li>
			<li>The minimum size of the circle means that items with low usage do not become so small that they cannot
				be
				seen. However, it does mean that items with small circle area will not accurately represent the actual
				usage.
				Hovering over a circle will cause a popup that displays the actual usage.</li>
		</ul>

		<h3>Format of dates and times</h3>
		<p>See <a href="../lineGraphic/#datetimeFormat">explanation in line graphics</a> for why data and time format
			varies with displayed language.</p>
	</div>
</div>
