---
layout: page-fullwidth
title: Tooltip
meta_title: "Tooltip Doc"
subheadline: "OED Documentation"
breadcrumb: true
help: true
helpType: User
helpCategory: "Other Features"
helpDescription: "Describes the help within OED web pages."
---
<div class="row">
	{% include_relative _version %}
	{% include help-sidebar OEDVersion=OEDVersion %}
	<div class="medium-8 medium-pull-4 columns" markdown="1">

		<h2 id="overview">Overview</h2>
		<p>OED provides popup help (tooltips) within the web browser to help users.</p>

		<h2 id="usage">Usage</h2>
		<p>Anywhere you see the
			<!-- Need to override the default size for most images on pages. -->
			<img alt="help icon" src="../images/helpIcon.png" width="17" height="18"
				style="min-width:17px; display: inline">
			icon, you can click to get a popup to see help on what is near the icon. This is shown
			in the next figure where the
			<!-- Need to override the default size for most images on pages. -->
			<img alt="help icon" src="../images/helpIcon.png" width="17" height="18"
				style="min-width:17px; display: inline">
			icon is highlighted with a blue box. The
			<!-- Need to override the default size for most images on pages. -->
			<img alt="help icon" src="../images/helpIcon.png" width="17" height="18"
				style="min-width:17px; display: inline">
			icon has been clicked and the help
			tooltip popup is shown for "Units". As is common, there is a brief description about the item and a link for
			further information in the helpdocumentation pages.
		</p>
		<img alt="OED tooltip usage" src="../images/tooltip.png">
		<p>Normally only one popup is allowed but a few can be shown simultaneously.</p>

		<h2 id="details">Details</h2>
		<p>There are documentation files for each version of OED. The version is shown in the footer at the bottom of each web
			page.
			When you click on a documentation link it will take you to the documentation for the version of OED that you are running. You
			can
			look at the documentation for other versions by using the links on the right of all documentation pages.
			If
			the documentation page did not exist in a previous version that you try to go to then you get an error page.</p>
	</div>
</div>
